.halfs
  .half
    = bootstrap_form_for @team, layout: :horizontal, label_col: 'col-sm-4',
      control_col: 'col-sm-8' do |f|

      = f.text_field :name

      = f.text_field :description

      = f.form_group do
        = f.check_box :club

      = f.form_group do
        = f.check_box :player_pass_needed

      = f.form_group do
        = f.check_box :current_season

      = f.form_group do
        = f.submit class: 'btn btn-primary'
        = link_to 'Abbrechen', teams_path, class: 'btn btn-default pull-right'

  .half
