.page-header
  %h1
    Mannschaften
    %small= page_entries_info(@teams)
    .pull-right
      = link_to new_team_path, class: 'primary-button' do
        = create_icon
        %span.hidden-xs Mannschaft erstellen

.table-responsive
  %table
    %thead
      %tr
        %th.col-md-3= Team.human_attribute_name(:name)
        %th.col-md-5= Team.human_attribute_name(:description)
        %th.col-md-1= Team.human_attribute_name(:club)
        %th.col-md-1= Team.human_attribute_name(:player_pass_needed)
        %th.col-md-1= Team.human_attribute_name(:current_season)
        %th.col-md-1.text-right.text-muted Aktionen

    %tbody
      - for team in @teams
        %tr
          %td.col-md-3= team.name
          %td.col-md-5= team.description
          %td.col-md-1= team.club?
          %td.col-md-1
            = team.player_pass_needed? if team.club?
          %td.col-md-1
            = team.current_season? unless team.club?
          %td.col-md-1.text-right
            = link_to edit_team_path(team), class: 'default-button-xs' do
              = edit_icon
            = link_to team_path(team), method: :delete, class: 'danger-button-xs',
              'data-confirm' => 'Team wirklich löschen?' do
              = delete_icon

.pull-right
  = paginate @teams
