%h1
  = Team.model_name.human(count: 2)

  .pull-right
    = link_to new_team_path, class: 'primary-button' do
      = create_icon
      %span.hidden-xs
        = t('helpers.submit.create', model: Team.model_name.human)

.table-responsive
  %table.table
    %thead
      %tr
        %th
          = Team.human_attribute_name(:name)

        %th
          = Team.human_attribute_name(:description)

        %th
          = Team.human_attribute_name(:club)

        %th
          = Team.human_attribute_name(:player_pass_needed)

        %th
          = Team.human_attribute_name(:current_season)

        %th.text-right.text-muted
          Aktionen

    %tbody
      - @teams.each do |team|
        %tr
          %td
            = team.name

          %td
            = team.description

          %td
            - if team.club?
              .label.label-success= t('simple_form.yes')

          %td
            - if team.club? && team.player_pass_needed?
              .label.label-success= t('simple_form.yes')

          %td
            = form_for team, remote: true do |f|
              = f.check_box :current_season, class: 'bootstrap-switch',
                'data-size' => 'mini', 'data-on-color' => 'success',
                'data-on-text' => 'Ja', 'data-off-text' => 'Nö',
                onchange: '$(this.form).submit();'

          %td.text-right{nowrap: ''}
            - if team.club?
              = link_to team_players_path(team), class: 'default-button-xs mr-2' do
                = create_icon
                = user_icon

            = link_to edit_team_path(team), class: 'default-button-xs mr-2' do
              = edit_icon

            = link_to team_path(team), method: :delete,
              class: 'default-button-xs',
              'data-confirm' => 'Team wirklich löschen?' do
              = delete_icon

= render 'layouts/pagination', entries: @teams
