= content_for(:title, 'Chat')

.page-header
  %h1
    = content_for(:title)
    .pull-right
      = link_to chat_path,
        class: 'default-button',
        'data-disable-with' => "#{spinner_icon}" do
        = refresh_icon

.panel.panel-default
  .panel-heading
    %h2.panel-title= page_entries_info(@messages)

  %ul.list-group.fixed-panel
    - @messages.each do |message|
      %li.list-group-item
        .media
          .media-left
            = image_tag message.user.player.avatar_url(:small_thumb),
              width: '30',
              height: '30',
              alt: current_user.player.nickname,
              class: 'img-circle'
          .media-body
            %strong.text-muted
              = message.user.player.nickname
            %small.text-muted= l(message.created_at, format: :short)
            %br
            = message.content

  .panel-footer
    = form_for @message do |f|
      = f.hidden_field :user_id, value: current_user.id

      .input-group
        = f.text_field :content,
          class: 'form-control',
          placeholder: Message.human_attribute_name(:content)

        %span.input-group-btn
          = button_tag type: 'submit',
            class: 'primary-button',
            'data-disable-with' => "#{spinner_icon} Senden" do
            = chat_message_icon
            Senden
