.modal.fade.in#adminModal{tabindex: '-1', role: 'dialog',
'aria-labelledby' => 'adminModalTitle'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', 'data-dismiss' => 'modal',
        'aria-label' => 'Close'}
          %span{'aria-hidden' => 'true'} &times;
        %h4.modal-title#adminModalTitle Meldeliste bearbeiten

      = bootstrap_form_tag url: update_multiple_replies_path, method: :put,
        layout: :horizontal, label_col: 'col-sm-4',
        control_col: 'col-sm-8' do |f|

        .modal-body
          .container-fluid
            - for reply in replies
              = f.fields_for 'replies[]', reply, layout: :horizontal,
                label_col: 'col-sm-4', label_col: 'col-sm-4' do |r|
                = r.collection_select :status, status_options, :last, :first,
                  label: reply.user_profile.alias

        .modal-footer
          .container-fluid
            = f.form_group do
              = f.submit 'Speichern', class: 'primary-button pull-left'
              = button_tag 'Schließen', class: 'default-button',
                'data-dismiss' => 'modal'
