%ul.list-group
  - %i(yes waiting maybee no watch pending).each do |status|
    - if status == :waiting
      - status_replies = replies.send(status).order(:updated_at)
    - else
      - status_replies = replies.send(status).order('user_profiles.alias')

    - if status_replies.present?
      = link_to "##{status}", class: 'list-group-item', role: 'button',
        'data-toggle' => 'collapse', 'aria-expanded' => 'false',
        'aria-controls' => status do

        %span.badge= status_replies.count
        %h4.list-group-item-heading= t("reply_status.#{status}")

        .collapse.list-group-item-text{id: status, class: ('in' if status == :yes)}
          %ul.list-unstyled
            = render status_replies || 'Keine Meldungen vorhanden'
