.btn-group.btn-group-justified{role: 'group', 'aria-label' => '...'}
  .btn-group{role: 'group'}
    = form_for reply do |f|
      = f.hidden_field :event_id
      = f.hidden_field :user_id
      = f.hidden_field :status, value: :yes
      = button_tag type: 'submit',
        class: (reply.yes? ? 'primary-button disabled' : 'default-button') do
        M
        %span.hidden-xs - Meldung

  .btn-group{role: 'group'}
    = form_for reply do |f|
      = f.hidden_field :event_id
      = f.hidden_field :user_id
      = f.hidden_field :status, value: :waiting
      = button_tag type: 'submit',
        class: (reply.waiting? ? 'primary-button disabled' : 'default-button') do
        W
        %span.hidden-xs - Warteliste

  .btn-group{role: 'group'}
    = form_for reply do |f|
      = f.hidden_field :event_id
      = f.hidden_field :user_id
      = f.hidden_field :status, value: :maybee
      = button_tag type: 'submit',
        class: (reply.maybee? ? 'primary-button disabled' : 'default-button') do
        ?
        %span.hidden-xs - Vielleicht

  .btn-group{role: 'group'}
    = form_for reply do |f|
      = f.hidden_field :event_id
      = f.hidden_field :user_id
      = f.hidden_field :status, value: :watch
      = button_tag type: 'submit',
        class: (reply.watch? ? 'primary-button disabled' : 'default-button') do
        Z
        %span.hidden-xs - Zuschauer

  .btn-group{role: 'group'}
    = form_for reply do |f|
      = f.hidden_field :event_id
      = f.hidden_field :user_id
      = f.hidden_field :status, value: :no
      = button_tag type: 'submit',
        class: (reply.no? ? 'primary-button disabled' : 'default-button') do
        0
        %span.hidden-xs - Absage
