%ol.breadcrumb
  %li
    = link_to 'Events', events_path
  %li
    = link_to @event.name, event_path(@event)
  %li.active
    Meldeliste bearbeiten

.page-header
  %h1
    Meldeliste bearbeiten
    %small
      = @event.name
      %small
        = @event.model_name.human

= bootstrap_form_tag url: update_multiple_event_replies_path, method: :put,
  layout: :horizontal, label_col: 'col-sm-4', control_col: 'col-sm-8' do |f|

  - for reply in @replies
    = f.fields_for 'replies[]', reply, layout: :horizontal,
      label_col: 'col-sm-4', label_col: 'col-sm-4' do |r|
      = r.collection_select :status, status_options, :last, :first,
        label: reply.user_profile.alias

  = f.form_group do
    = f.submit 'Speichern', class: 'primary-button pull-left'
