%ol.breadcrumb
  %li
    = link_to 'Events', events_path
  %li.active
    = @event.generated_name
  %li.active
    Meldeliste

%h1
  = @event.generated_name
  %small= I18n.t("event_kind.#{@event.kind}")

= render 'events/progress_bar', event: @event

.thirds
  .third
    %p.lead
      = date_icon
      = l(@event.datetime, format: :date_only)
  .third
    %p.lead
      = time_icon
      = l(@event.datetime, format: :time_only)
  .third
    %p.lead
      = address_icon
      = @event.address

%p.lead= @event.description

.halfs
  .half
    = bootstrap_form_for @reply, layout: :horizontal, label_col: 'col-sm-4',
      control_col: 'col-sm-8' do |f|

      = f.hidden_field :event_id

      = f.hidden_field :user_id

      = f.collection_select :status, status_options, :last, :first,
        { prompt: 'Ausstehend...' }, { onchange: 'this.form.submit()' }

      -# - unless reply_for(@event.id, current_user.id).status == 'waiting'
        .help-block
          W
          = waiting_position_for(@event, current_user)

  .half
    - if admin?
      .btn-toolbar
        .btn-group.btn-group-justified
          = link_to edit_event_path(@event), class: 'default-button' do
            = edit_icon
            Bearbeiten
          = link_to '#', data: { confirm: 'Wirklich Aufruf senden?'},
            class: 'default-button' do
            = mail_icon
            Aufruf (TODO)
          = link_to '#', data: { confirm: 'Wirklich Final Call senden?'},
            class: 'default-button' do
            = mail_icon
            Final Call (TODO)
          = link_to event_path(@event), method: :delete, class: 'danger-button',
            data: { confirm: 'Event wirklich löschen?' } do
            Löschen

      -# = form_tag '/replies/create_multiple' do
        = hidden_field_tag :event_id, @event.id
        = label_tag :user_ids, 'Spieler melden'
        = select_tag :user_ids,
          options_from_collection_for_select(User.players, :id, :username, @yes_replies.map(&:user_id)),
          multiple: true,
          class: 'form-control'
        = submit_tag 'Melden', class: 'primary-button'

.halfs
  .half
    .panel-group#replies{role: 'tablist', 'aria-multiselectable' => true}
      = render 'replies', event: @event, replies: @yes_replies, status: :yes
      = render 'replies', event: @event, replies: @waiting_replies, status: :waiting
      = render 'replies', event: @event, replies: @maybee_replies, status: :maybee
      = render 'replies', event: @event, replies: @no_replies, status: :no
      = render 'replies', event: @event, replies: @watch_replies, status: :watch

      - if @no_reply_players.present?
        .panel.panel-default
          .panel-heading#headingMissing{role: 'tab'}
            %h3.panel-title
              %a{href: '#collapseMissing', 'data-toggle' => 'collapse',
              'data-parent' => '#replies', 'aria-expanded' => true,
              'aria-controls' => 'collapseMissing'}
                Ausstehend

              %small= @no_reply_players.count

          .panel-collapse.collapse#collapseMissing{role: 'tabpanel',
            'aria-labelledby' => 'headingMissing'}

            %ul.list-group
              - for player in @no_reply_players
                %li.list-group-item.list-group-item-default
                  = player.user_profile.alias

  .half
    .panel.panel-default
      .panel-heading
        %h3.panel-title Letzte Begegnungen
      .panel-body
        .text-muted Keine

    .panel.panel-default
      .panel-heading
        %h3.panel-title Adresse
      .panel-body
        %p
          = address_icon
          = @event.address
        %p
          = link_icon
          = link_to 'in Google Maps öffnen',
            @event.google_maps_url,
            target: :blank
        %p
          = image_tag @event.google_static_maps_url,
            class: 'img-responsive img-rounded'
