%ol.breadcrumb
  %li
    = link_to 'Events', events_path
  %li.active
    = @event.generated_name
  %li.active
    Meldeliste

%h1
  = @event.generated_name
  %small= I18n.t("event_kind.#{@event.kind}")

= render 'events/progress_bar', event: @event

.thirds
  .third
    %p.lead
      = date_icon
      = l(@event.datetime, format: :date_only)
  .third
    %p.lead
      = time_icon
      = l(@event.datetime, format: :time_only)
  .third
    %p.lead
      = address_icon
      = @event.address

%p.lead= @event.description

.halfs
  .half
    - if @event.replyable?
      .well.well-sm
        = render 'status_bar', reply: @reply

  .half
    - if admin?
      .well.well-sm
        = render 'admin_bar', event: @event
        = render 'admin_modal', replies: @replies

.halfs
  .half
    .panel.panel-default
      .panel-heading
        %h3.panel-title Meldeliste

      - if @event.replyable?
        %ul.list-group
          = render 'replies', event: @event, replies: @replies.yes, status: :yes
          = render 'replies', event: @event, replies: @replies.waiting, status: :waiting
          = render 'replies', event: @event, replies: @replies.maybee, status: :maybee
          = render 'replies', event: @event, replies: @replies.no, status: :no
          = render 'replies', event: @event, replies: @replies.watch, status: :watch
          = render 'replies', event: @event, replies: @replies.pending, status: :pending

      - else
        .panel-body
          %p.text-muted Geschlossen

  .half
    .panel.panel-default
      .panel-heading
        %h3.panel-title Letzte Begegnungen
      .panel-body
        .text-muted Keine

    .panel.panel-default
      .panel-heading
        %h3.panel-title Adresse
      .panel-body
        %p
          = address_icon
          = @event.address
        %p
          = link_icon
          = link_to 'in Google Maps öffnen',
            @event.google_maps_url,
            target: :blank
        %p
          = image_tag @event.google_static_maps_url,
            class: 'img-responsive img-rounded'
