.row
  .col-lg-4.col-lg-offset-4.col-sm-12

    .panel.panel-default
      .panel-heading
        %h3.panel-title Account bearbeiten

      = bootstrap_form_for resource,
        as: resource_name,
        url: registration_path(resource_name),
        method: :put do |f|

        .panel-body
          = f.alert_message 'Es sind Fehler aufgetreten!', error_summary: false

          = f.text_field :username, autofocus: true, icon: :user

          = f.email_field :email, icon: :envelope

          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}

        .panel-body
          = f.password_field :password,
            icon: :sunglasses,
            autocomplete: 'off',
            help: 'Leer lassen wenn es nicht geändert werden soll'

          = f.password_field :password_confirmation,
            icon: :sunglasses,
            autocomplete: 'off'

        .panel-footer
          = f.password_field :current_password,
            icon: :sunglasses,
            autocomplete: 'off',
            help: 'Zum Bestätigen der Änderungen'

          = link_to 'Abbrechen', :back, class: 'btn btn-default'
          = f.primary 'Speichern'
