.row
  .col-lg-4.col-lg-offset-4.col-sm-12

    .panel.panel-default
      .panel-heading
        %h3.panel-title Account bearbeiten

      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        .panel-body
          = devise_error_messages!

          .form-group
            = f.label :username
            = f.text_field :username, autofocus: true, class: 'form-control'

          .form-group
            = f.label :email
            = f.email_field :email, class: 'form-control'

          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %div
              Currently waiting confirmation for: #{resource.unconfirmed_email}

          .form-group
            = f.label :password
            = f.password_field :password, autocomplete: 'off',
              class: 'form-control', 'aria-describedby' => 'passwordHelp'
            %span.help-block#passwordHelp
              %i Leer lassen wenn es nicht geändert werden soll

          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, autocomplete: 'off',
              class: 'form-control'

          .form-group
            = f.label :current_password
            = f.password_field :current_password, autocomplete: 'off',
              class: 'form-control', 'aria-describedby' => 'currentPasswordHelp'
            %span.help-block#currentPasswordHelp
              %i Zum Bestätigen der Änderungen

        .panel-footer
          = f.submit 'Speichern', class: 'btn btn-primary'

    .panel.panel-danger
      .panel-heading
        %h3.panel-title Account löschen

      .panel-body
        = button_to 'Account löschen',
          registration_path(resource_name),
          data: { confirm: 'Wirklich unwiderruflich löschen?' },
          method: :delete,
          class: 'btn btn-danger'
