= bootstrap_form_for Function.new, url: functions_path do |f|
  .form-inline
    = f.select :role_id,
      options_from_collection_for_select(Role.all, :id, :name),
      prompt: "Aufgabe"
    = f.select :user_id,
      options_from_collection_for_select(User.all, :id, :username),
      prompt: "Person"

    = f.date_field :assumed_at, value: Date.today
    = f.date_field :vacated_at

    = f.primary

= render 'functions/functions',
  functions: @current_functions,
  headline: 'Aktuelle Functionen im Verein'

= render 'functions/functions',
  functions: @functions,
  headline: 'Alle Funktionen im Verein'
