%ul.list-group
  - if comments.empty?
    %li.list-group-item.text-muted
      Keine vorhanden

  - else
    - comments.each do |comment|
      %li.list-group-item
        .media
          .media-left
            = image_tag comment.user.player.avatar_url(:small_thumb),
              width: '30',
              height: '30',
              alt: comment.user.player.nickname,
              class: 'img-circle'

          .media-body
            %strong.text-muted
              = comment.user.player.nickname
              - if admin? || comment.user_id == current_user.id
                = link_to edit_comment_path(comment),
                  class: 'btn btn-default btn-xs' do
                  %span.text-warning
                    = edit_icon
                    %span.hidden-xs bearbeiten

            %small.pull-right.text-muted
              = 'bearbeitet |' if comment.edited?
              = l(comment.updated_at, format: :short)

            %br

            = comment.content
