%ul.list-group.list-group-flush
  - if comments.empty?
    %li.list-group-item.text-muted
      Keine vorhanden

  - else
    - comments.each do |comment|
      %li.list-group-item
        .d-flex.w-100.justify-content-between
          %h5.mb-1
            = image_tag comment.user.player.avatar_url(:small_thumb),
              width: '30',
              height: '30',
              alt: comment.user.player.nickname,
              class: 'img-circle'

            = comment.user.player.nickname

          %small
            = 'bearbeitet |' if comment.edited?
            = l(comment.updated_at, format: :short)

        .mb-1
          = comment.content

        - if can?(:update, comment) || can?(:destroy, comment)
          %small
            = link_to edit_comment_path(comment) do
              = edit_icon
              = t('edit')
