= content_for(:title, "#{Comment.model_name.human} bearbeiten")

%h1
  = content_for(:title)

.well.well-sm
  = link_to 'Abbrechen', @comment.commentable, class: 'default-button'

  = link_to comment_path(@comment),
    method: :delete,
    class: 'btn btn-danger',
    'data-confirm' => 'Kommentar wirklich löschen?',
    'data-disable-with' => "#{spinner_icon} Löschen" do
    = delete_icon
    Löschen

= render 'form', comment: @comment
