.panel.panel-primary
  .panel-heading
    %h2.panel-title
      Empfänger
      %small
        = title

  .panel-body
    = f.collection_check_boxes 'player_ids[]',
      first_choice, :id, :name_and_status,
      checked: receiver_ids, hide_label: true

    = button_tag type: 'button', 'data-toggle' => 'collapse',
      'data-target' => '#selectRecipients', class: 'btn-sm primary-button' do
      Weitere Spieler
      = fa_icon('arrow-down')
      = fa_icon('arrow-up')

  .panel-footer.collapse#selectRecipients
    = f.collection_check_boxes 'player_ids[]',
      Player.order(:nickname) - first_choice, :id, :name_and_status,
      hide_label: true
