.panel.panel-primary
  .panel-heading
    %h2.panel-title Vorschau

  .panel-body
    - if @attendance_list.open?
      = render 'event_mailer/attendance_list_closed',
        event: @attendance_list.attendable,
        message: nil,
        time_to_meet: 30

      = f.select 'time_to_meet', time_to_meet,
        label: "Treffzeit"
    - else
      = render 'event_mailer/attendance_list_opened',
        event: @attendance_list.attendable, message: nil

  .panel-footer
    = f.text_area :message, label: 'Nachricht hinzufügen?'

    = button_tag type: 'submit', class: 'primary-button' do
      = mail_icon
      - verb = @attendance_list.open? ? 'schließen' : 'öffnen'
      = "Meldeliste #{verb} und Mail versenden"

    = link_to 'Abbrechen', :back, class: 'default-button'
