= render 'page_header', attendable: @attendance_list.attendable,
  title: 'Final Call Mail'

= bootstrap_form_tag url: close_attendance_list_path(@attendance_list) do |f|
  = f.hidden_field :mail, value: true
  .row
    .col-md-4
      = render 'mail_receiver', f: f, title: 'Gemeldete Spieler',
        first_choice: @first_choice, receiver_ids: @receiver_ids

    .col-md-8
      = render 'mail_box', f: f
