= content_for(:title, "Meldeliste erstellen #{@event.name}")

= render 'events/subnavigation', event: @event

%h1
  Meldeliste erstellen
  %small= @event.name

= render 'form', attendance_list: @attendance_list
