= content_for :title, 'Neuer Termin Mail'

.page-header
  %h1
    = content_for :title
    %small
      = @attendance_list.attendable.name
      = surround '(', ')' do
        = @attendance_list.attendable.model_name.human

= bootstrap_form_tag url: open_attendance_list_path(@attendance_list) do |f|
  = f.hidden_field :mail, value: true
  .row
    .col-md-4
      = render 'mail_receiver', f: f
    .col-md-8
      = render 'mail_box', f: f
