= content_for(:title, "Meldeliste #{@event.name}")

.card
  .card-header
    = render 'events/header_with_subnavigation',
      event: @event,
      subtitle: AttendanceList.model_name.human

  .card-body
    - if can?(:update, AttendanceList)
      .mb-4
        - if @attendance_list.open?
          .btn-group.mr-3
            = button_tag class: 'btn btn-secondary dropdown-toggle',
              type: 'button',
              id: 'closeAttendanceListDropdownMenuButton',
              'data-toggle': 'dropdown',
              'aria-haspopup': 'true',
              'aria-expanded': false do
              Meldeliste schließen

            .dropdown-menu{'aria-labelledby': 'closeAttendanceListDropdownMenuButton'}
              = link_to close_attendance_list_path(@attendance_list),
                method: :post,
                class: 'dropdown-item' do
                ohne E-Mail

              .dropdown-divider

              = link_to close_mail_attendance_list_path(@attendance_list),
                class: 'dropdown-item' do
                = mail_icon
                Final Call

        - else
          .btn-group.mr-3
            = button_tag class: 'btn btn-secondary dropdown-toggle',
              type: 'button',
              id: 'openAttendanceListDropdownMenuButton',
              'data-toggle': 'dropdown',
              'aria-haspopup': 'true',
              'aria-expanded': false do
              Meldeliste öffnen

            .dropdown-menu{'aria-labelledby': 'closeAttendanceListDropdownMenuButton'}
              = link_to open_attendance_list_path(@attendance_list),
                method: :post,
                class: 'dropdown-item' do
                ohne E-Mail

              .dropdown-divider

              = link_to open_mail_attendance_list_path(@attendance_list),
                class: 'dropdown-item' do
                = mail_icon
                mit E-Mail

        = link_to edit_multiple_attendance_list_attendances_path(@attendance_list),
          class: 'card-link btn btn-secondary' do
          = edit_icon
          Meldeliste bearbeiten

    = render 'progress_bar', attendance_list: @attendance_list

    - if @attendance_list.open? && @current_user_attendance.blank?
      %strong.text-muted Du kannst aktuell nicht melden!

    - elsif @attendance_list.open?
      = bootstrap_form_for @current_user_attendance do |f|
        = f.select :status,
          attendance_status_options,
          {},
          { onchange: 'this.form.submit();' }

    - else
      %strong.text-muted Die Meldeliste ist geschlossen!

  = render 'attendances/attendances',
    attendances: @attendance_list.attendances.includes(:player)
