= content_for(:title, "Meldeliste #{@event.name}")

= render 'events/subnavigation', event: @event

.page-header
  %h1
    Meldeliste
    %small= @event.name

= render 'events/basic_information', event: @event

= render 'admin_bar', attendance_list: @attendance_list

= render 'progress_bar', attendance_list: @attendance_list

.halfs
  .half
    .panel.panel-default
      .panel-heading
        %h2.panel-title Meldung abgeben

      .panel-body
        - if @attendance_list.open?
          = bootstrap_form_for @current_user_attendance do |f|
            = f.select :status,
              status_options,
              {},
              { onchange: 'this.form.submit();' }

        - else
          %strong.text-muted Die Meldeliste ist geschlossen!

  .half
    .panel.panel-default
      .panel-heading
        %h2.panel-title Meldungen

      = render 'attendances/attendances',
        attendances: @attendance_list.attendances.includes(:player)
