.page-header
  %h1
    Userverwaltung
    .pull-right
      = link_to new_user_invitation_path, class: 'primary-button' do
        = create_icon
        %span.hidden-xs Einladung verschicken

.table-responsive
  %table
    %thead
      %tr
        %th.col-md-2= User.human_attribute_name(:username)
        %th.col-md-2= Player.human_attribute_name(:nickname)
        %th.col-md-2= User.human_attribute_name(:admin)
        %th.col-md-2.text-right.text-muted Aktionen

    %tbody
      - for user in @users
        %tr
          %td.col-md-2= user.username

          %td.col-md-2= user.player.nickname

          %td.col-md-2
            - if user.admin?
              .label.label-success Ja

          %td.col-md-2
            .btn-toolbar.pull-right
              = link_to root_path, class: 'default-button-xs' do
                = edit_icon
              = link_to registration_path(user),
                'data-confirm' => 'Wirklich unwiderruflich löschen?',
                method: :delete,
                class: 'default-button-xs' do
                %span.text-danger
                  = delete_icon

= render 'layouts/pagination', entries: @users
