.page-header
  %h1
    Userverwaltung
    .pull-right
      = link_to new_user_invitation_path, class: 'primary-button' do
        = create_icon
        %span.hidden-xs Einladung verschicken

.table-responsive
  %table
    %thead
      %tr
        %th.col-md-2= User.human_attribute_name(:username)
        %th.col-md-2= UserProfile.human_attribute_name(:alias)
        %th.col-md-2= User.human_attribute_name(:admin)
        %th.col-md-2= User.human_attribute_name(:player)
        %th.col-md-2= User.human_attribute_name(:player_pass)
        %th.col-md-2.text-right.text-muted Aktionen

    %tbody
      - for user in @users
        %tr
          %td.col-md-2= user.username

          %td.col-md-2= user.user_profile.alias

          %td.col-md-2
            - if user.admin?
              .label.label-success Ja

          %td.col-md-2
            = form_for user, remote: true do |f|
              = f.check_box :player, class: 'bootstrap-switch',
                'data-size' => 'mini', 'data-on-color' => 'success',
                'data-on-text' => 'Ja', 'data-off-text' => 'Nö',
                onchange: '$(this.form).submit();'

          %td.col-md-2
            = form_for user, remote: true do |f|
              = f.check_box :player_pass, class: 'bootstrap-switch',
                'data-size' => 'mini', 'data-on-color' => 'success',
                'data-on-text' => 'Ja', 'data-off-text' => 'Nö',
                onchange: '$(this.form).submit();'

          %td.col-md-2
            .btn-toolbar.pull-right
              = link_to root_path, class: 'default-button-xs' do
                = edit_icon
              = link_to registration_path(user),
                'data-confirm' => 'Wirklich unwiderruflich löschen?',
                method: :delete,
                class: 'default-button-xs' do
                %span.text-danger
                  = delete_icon

.text-center.text-muted
  = page_entries_info(@users)
.text-center
  = paginate @users
