.halfs
  .half
    = bootstrap_form_for Event.new, layout: :horizontal,
      label_col: "col-sm-4", control_col: "col-sm-8" do |f|
      = f.hidden_field :type, value: event.type

      = f.collection_select :club_team_id, Team.club, :id, :name,
        prompt: true, class: 'form-control'

      = f.select :rival_team_id,
        grouped_options_for_select(grouped_team_options, f.object.rival_team_id),
        prompt: true, class: 'form-control'

      = f.form_group :home do
        = f.radio_button :home, true, label: 'Heimspiel', inline: true
        = f.radio_button :home, false, label: 'Auswärtsspiel', inline: true

      = f.number_field :minimum, icon: 'user', value: event.minimum || 7

      = f.number_field :maximum, icon: 'user', value: event.maximum || 11

      = f.datetime_select :datetime

      = f.text_field :address, icon: 'map-marker'

      = f.text_area :description

      = f.form_group do
        = f.submit class: 'primary-button'
        = link_to 'Abbrechen', events_path, class: 'default-button pull-right'

  .half
