.well.well-sm
  = link_to edit_polymorphic_path(event), class: 'default-button' do
    = edit_icon
    Event bearbeiten

  - if event.replyable?
    .btn-group{role: 'group'}
      %button.btn.btn-default.dropdown-toggle{type: 'button',
        'data-toggle' => 'dropdown', 'aria-haspopup' => 'true',
        'aria-expanded' => 'false'}
        Meldeliste schließen
        %span.caret

      %ul.dropdown-menu
        %li
          = link_to close_event_path(event), method: :post do
            ohne E-Mail
        %li
          = link_to '#' do
            = mail_icon
            Final Call

  - else
    .btn-group{role: 'group'}
      %button.btn.btn-default.dropdown-toggle{type: 'button',
        'data-toggle' => 'dropdown', 'aria-haspopup' => 'true',
        'aria-expanded' => 'false'}
        Meldeliste öffnen
        %span.caret

      %ul.dropdown-menu
        %li
          = link_to open_event_path(event), method: :post do
            ohne E-Mail
        %li
          = link_to '#' do
            = mail_icon
            mit E-Mail

  = link_to edit_multiple_event_replies_path(event), class: 'default-button' do
    = edit_icon
    Meldeliste bearbeiten

  = link_to event_path(event), method: :delete, class: 'danger-button',
    data: { confirm: 'Event wirklich löschen?' } do
    Event Löschen
