.well.well-sm
  %strong Admin
  = link_to edit_event_path(@event), class: 'default-button' do
    = edit_icon
    Bearbeiten
  = link_to '#', data: { confirm: 'Wirklich Aufruf senden?'},
    class: 'default-button' do
    = mail_icon
    Aufruf (TODO)
  = link_to '#', data: { confirm: 'Wirklich Final Call senden?'},
    class: 'default-button' do
    = mail_icon
    Final Call (TODO)

