.halfs
  .half
    .halfs
      .half
        %p.lead
          = date_icon
          = l(event.datetime, format: :date_only)
      .half
        %p.lead
          = time_icon
          = l(event.datetime, format: :time_only)
  .half
    %p.lead
      = address_icon
      = event.address
