.card.text-xs-center{class: ('card-outline-primary' if event.future?)}
  .card-header
    = event.model_name.human

  .card-block
    %h4.card-title
      = event.name

    %p.card-text
      %ul.list-unstyled
        %li
          = date_icon
          = l(event.datetime, format: :date_only)
        %li
          = time_icon
          = l(event.datetime, format: :time_only)
        %li
          = address_icon
          = event.address

    %p.card-text
      = event_attendance_label(event)
      = event_final_score_label(event)

    = event_or_attendance_list_or_report_link(event)
