.panel{class: ('panel-' + css_class_for_event(event))}
  = link_to event_path(event), style: 'color:inherit;text-decoration:none' do
    .panel-body
      %p.lead= event.generated_name

      %ul.list-unstyled
        %li
          = date_icon
          = l(event.datetime, format: :date_only)
        %li
          = time_icon
          = l(event.datetime, format: :time_only)
        %li
          = address_icon
          = event.address

      .label.label-default= I18n.t("event_kind.#{event.kind}")
      - if event.report.present?
        .pull-right
          %span.label{class: ('label-' + css_class_for_event(event))}
            = event.report.final_score

