.panel.panel-primary
  .panel-body
    %h3.panel-title
      = link_to event.generated_name, event_path(event)
      %small.pull-right
        = event.humanized_kind

  .panel-body
    %p
      = datetime_icon
      = l(event.datetime, format: :long)

      %br
      = address_icon
      = event.address

    %p= event.description

  .panel-footer
    - if event.report.present?
      = link_to report_path(event.report), class: 'default-button-xs' do
        = report_icon
        Bericht
    - else
      = link_to new_report_path(event),
        class: 'primary-button-xs' do
        = create_icon
        Bericht

    - if admin?
      = link_to edit_event_path(event), class: 'default-button-xs' do
        = edit_icon
        Bearbeiten
      = link_to event, method: :delete, class: 'danger-button-xs',
        data: { :confirm => 'Wirklich unwiderruflich löschen?' } do
        = delete_icon
        Löschen
