= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    .half-half
      .left-half
        = f.input :kind, collection: event_kind_options, selected: @event.kind
      .right-half
        = f.input :datetime,
          input_html: {id: 'datetimepicker'},
          as: :string
    .half-half
      .left-half
        = f.input :home_team
      .right-half
        = f.input :away_team
    .half-half
      .left-half
        = f.input :minimum, collection: 1..100, selected: 7
      .right-half
        = f.input :maximum, collection: 1..100, selected: 11

    = f.input :address
    = f.input :description, as: :text

  .form-actions
    = f.button :submit, 'Speichern', class: 'primary-button'
    = link_to 'Abbrechen', events_path, class: 'default-button'
