= simple_form_for @event, html: {class: 'form-horizontal'} do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
  .form-inputs
    = f.input :datetime
  .form-actions
    = f.button :submit
