= simple_form_for @event do |f|

  = f.error_notification

  .form-inputs
    = f.input :kind, collection: event_kind_options, selected: @event.kind
    .half-half
      .left-half
        = f.input :name
      .right-half
        = f.input :datetime,
          input_html: {id: 'datetimepicker'},
          as: :string
    .half-half
      .left-half
        = f.input :minimum, collection: 1..100, selected: 7
      .right-half
        = f.input :maximum, collection: 1..100, selected: 11

    = f.input :description, as: :text
    = f.input :address

  .form-actions
    = f.button :submit, 'Speichern', class: 'primary-button'
    = link_to 'Abbrechen', events_path, class: 'default-button'
