.halfs
  .half
    = bootstrap_form_for @event, layout: :horizontal, label_col: "col-sm-4",
      control_col: "col-sm-8" do |f|

      = f.select :kind,
        options_for_select(event_kind_options, @event.kind),
        {},
        class: 'form-control'

      = f.collection_select :club_team_id, Team.club, :id, :name,
        prompt: '- Wählen -', class: 'form-control'

      = f.select :rival_team_id,
        grouped_options_for_select(grouped_team_options, f.object.rival_team_id),
        include_blank: '- Wählen -', class: 'form-control'

      = f.form_group :home do
        = f.radio_button :home, true, label: 'Heimspiel', inline: true
        = f.radio_button :home, false, label: 'Auswärtsspiel', inline: true

      = f.text_field :name,
        placeholder: '"Heimmannschaft" : "Auswärtsmannschaft"'

      = f.number_field :minimum, icon: 'user', value: 7

      = f.number_field :maximum, icon: 'user', value: 11

      = f.date_select :datetime, label: 'Datum'

      = f.time_select :datetime, label: 'Anstoß'

      = f.text_field :address, icon: 'map-marker'

      = f.text_area :description

      = f.form_group do
        = f.submit class: 'primary-button'
        = link_to 'Abbrechen', events_path, class: 'default-button pull-right'

  .half
