= simple_form_for @event do |f|

  = f.error_notification

  .form-inputs
    .half-half
      .left-half= f.input :name
      .right-half= f.input :datetime, input_html: {id: 'datetimepicker'},
        as: :string
    = f.input :description
    = f.input :address

  .panel.panel-default
    .panel-heading
      %h3.panel-title Meldeliste
    .panel-body
      = f.fields_for :list do |ff|

        .form-inputs.half-half
          .left-half= ff.input :minimum, input_html: { min: 1, max: 99, value: 7 }
          .right-half= ff.input :maximum, input_html: { min: 2, max: 100, value: 11 }

  .form-actions
    = f.button :submit, 'Speichern', class: 'primary-button'
    = link_to 'Abbrechen', events_path, class: 'default-button'
