.row
  .col-md-6
    = form_for @event, html: { class: 'form-horizontal' } do |f|
      .form-group
        = f.label :kind, class: 'col-md-4 control-label'
        .col-md-8
          = f.select :kind,
            options_for_select(event_kind_options, @event.kind),
            {},
            class: 'form-control'

      .form-group
        = f.label :club_team_id, class: 'col-md-4 control-label'
        .col-md-8
          = f.select :club_team_id,
            options_from_collection_for_select(Team.club, :id, :name, @event.club_team_id),
            {},
            class: 'form-control'
          %span.help-block
            %small
              = link_to new_team_path(home: true) do
                = create_icon
                hinzufügen

      .form-group
        = f.label :rival_team_id, class: 'col-md-4 control-label'
        .col-md-8
          = f.select :rival_team_id,
            options_from_collection_for_select(Team.rivals, :id, :name, @event.rival_team_id),
            {},
            class: 'form-control'
          %span.help-block
            %small
              = link_to new_team_path(home: false) do
                = create_icon
                hinzufügen

      .form-group
        = f.label :home, class: 'col-md-4 control-label'
        .col-md-8
          .radio-inline
            = f.radio_button :home, true
            Heimspiel
          .radio-inline
            = f.radio_button :home, false
            Auswärtsspiel

      .form-group
        = f.label :name, class: 'col-md-4 control-label'
        .col-md-8
          = f.text_field :name, class: 'form-control',
            placeholder: 'Leer lassen für "Heimteam" : "Auswärtsteam"'

      .form-group
        = f.label :kind, class: 'col-md-4 control-label'
        .col-md-8
          = f.select :kind,
            options_for_select(event_kind_options, @event.kind),
            {},
            class: 'form-control'

      .form-group
        = f.label :minimum, class: 'col-md-4 control-label'
        .col-md-8
          = f.select :minimum,
            options_for_select(1..User.count, f.object.minimum || 7),
            {},
            class: 'form-control'

      .form-group
        = f.label :maximum, class: 'col-md-4 control-label'
        .col-md-8
          = f.select :maximum,
            options_for_select(1..User.count, f.object.maximum || 11),
            {},
            class: 'form-control'

      .form-group
        = f.label :datetime, class: 'col-md-4 control-label'
        .col-md-8
          .input-group
            = f.text_field :datetime, value: l(f.object.datetime),
              class: 'form-control', id: 'datetimepicker'
            %span.input-group-addon
              = datetime_icon

      .form-group
        = f.label :address, class: 'col-md-4 control-label'
        .col-md-8
          = f.text_field :address, class: 'form-control'

      .form-group
        = f.label :description, class: 'col-md-4 control-label'
        .col-md-8
          = f.text_area :description, class: 'form-control'

      .form-group
        .col-md-offset-4.col-md-8
          = f.submit class: 'primary-button'
          = link_to 'Abbrechen', events_path, class: 'default-button pull-right'

  .col-md-6
    .well Test
