= simple_form_for @event, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :datetime

  .form-actions
    = f.button :submit
