= simple_form_for @event do |f|

  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :datetime, input_html: {id: 'datetimepicker'}, as: :string

  = f.fields_for :list do |ff|

    .form-inputs
      = ff.input :minimum
      = ff.input :maximum

  .form-actions
    = f.button :submit, 'Speichern', class: 'btn btn-primary'
    = link_to 'Abbrechen', events_path, class: 'btn btn-default'
