.list-group
  - if events.present?
    - events.each do |event|
      - if user_signed_in?
        = link_to event_or_attendance_list_or_report_path(event),
          class: 'list-group-item' do

          %h5.list-group-item-heading
            = event.name
            %small.pull-right= event.model_name.human

          %p.list-group-item-text
            = date_icon
            = l(event.datetime, format: :date_only)

            = event_attendance_label(event, pull_right: true)
            = event_final_score_label(event, pull_right: true)

      - else
        .list-group-item
          %h5.list-group-item-heading
            = event.name
            %small.pull-right= event.model_name.human

          %p.list-group-item-text
            = date_icon
            = l(event.datetime, format: :date_only)

            = event_final_score_label(event)

  - else
    .list-group-item
      \-
