.progress
  .progress-bar{ role: 'progress-bar',
    class: ('progress-bar-success' if minimum_reached?(event)),
    'aria-valuenow' => 1, 'aria-valuemin' => event.minimum,
    'aria-valuemax' => progress_bar_maximum_for(event),
    style: "width: #{yes_quota_for(event) * 100}%;"}

    #{event.yes_count} / #{event.minimum}-#{event.maximum} M

  .progress-bar{role: 'progress-bar',
    class: ('progress-bar-success progress-bar-striped' if minimum_reached?(event)),
    'aria-valuenow' => 1, 'aria-valuemin' => event.minimum,
    'aria-valuemax' => progress_bar_maximum_for(event),
    style: "width: #{waiting_quota_for(event) * 100}%;"}

    #{event.waiting_count} W
