%ul.nav.nav-tabs.card-header-tabs.flex-column.flex-md-row
  %li.nav-item.flex-md-fill
    = link_to Event.model_name.human,
      event_path(event),
      class: params[:controller] == 'events' ? 'nav-link active' : 'nav-link'

  - if event.attendance_list&.persisted?
    %li.nav-item.flex-md-fill
      = link_to AttendanceList.model_name.human,
        event_attendance_list_path(event),
        class: params[:controller] == 'attendance_lists' ? 'nav-link active' : 'nav-link'

  - elsif can?(:create, AttendanceList)
    %li.nav-item.flex-md-fill
      = link_to new_event_attendance_list_path(event),
        class: params[:controller] == 'attendance_lists' ? 'nav-link active' : 'nav-link' do
        = create_icon
        = t('create_model_name', model_name: AttendanceList.model_name.human)

  - if event.report.present?
    %li.nav-item.flex-md-fill
      = link_to Report.model_name.human,
        event_report_path(event),
        class: params[:controller] == 'reports' ? 'nav-link active' : 'nav-link'

  - elsif can?(:create, Report)
    %li.nav-item.flex-md-fill
      = link_to new_event_report_path(event),
        class: params[:controller] == 'reports' ? 'nav-link active' : 'nav-link' do
        = create_icon
        = t('create_model_name', model_name: Report.model_name.human)

  %li.nav-item.flex-md-fill
    = link_to 'Match Events',
      event_match_events_path(event),
      class: params[:controller] == 'match_events' ? 'nav-link active' : 'nav-link'
