.jumbotron
  %h1
    = event.name
    %small= event.humanized_kind

  %p
    %strong Wann:
    = l(event.datetime)
    %br
    %strong Wo:
    = @event.address

  %p= event.description

  %p
    = simple_form_for reply_for(event.id, current_user.id) do |f|
      = f.input :event_id, as: :hidden
      = f.input :user_id, as: :hidden
      = f.input :status,
        collection: status_options,
        selected: reply_for(event.id, current_user.id).status,
        prompt: 'Bist du dabei?',
        input_html: { class: 'input-sm', onchange: 'this.form.submit()' }
