.jumbotron
  %h1= event.name

  %p
    %strong Wann:
    = l(event.datetime, format: :sentence)
    %br
    %strong Wo:
    = @event.address

  %p= event.description

  %p
    - if reply.persisted?
      Status:
      %strong= reply.humanized_status
    - else
      = form_for reply do |f|
        = f.hidden_field :status, value: 'yes'
        = f.submit 'Melden', class: 'primary-button'
