.jumbotron
  %h1
    = event.name
    %small= event.humanized_kind

  %p
    %span.glyphicon.glyphicon-calendar
    = l(event.datetime)
    %br
    %span.glyphicon.glyphicon-map-marker
    = @event.address

  %p= event.description

  .half-half
    .left-half
      = simple_form_for reply_for(event.id, current_user.id) do |f|
        = f.input :event_id, as: :hidden
        = f.input :user_id, as: :hidden
        = f.input :status,
          collection: status_options,
          selected: reply_for(event.id, current_user.id).status,
          prompt: 'Ausstehend...',
          input_html: { class: 'input-sm', onchange: 'this.form.submit()' }

    .right-half
      - if admin?
        = form_tag '/replies/create_multiple' do
          = hidden_field_tag :event_id, event.id
          = label_tag :user_ids, 'Spieler melden'
          = select_tag :user_ids,
            options_from_collection_for_select(User.players, :id, :username, @yes_replies.map(&:user_id)),
            multiple: true,
            class: 'form-control'
          = submit_tag 'Melden', class: 'primary-button'
