.page-header
  %h1
    Events
    %small= page_entries_info(@events)
    - if admin?
      .pull-right
        = link_to new_event_path, class: 'primary-button' do
          = create_icon
          Event erstellen

.list-group
  - for event in @events
    = render 'event', event: event

.pull-right
  = paginate @events
