= content_for :title, 'Events'

.page-header
  %h1
    = content_for(:title)
    - if admin?
      .pull-right
        .btn-group
          %button.primary-button.dropdown-toggle{type: 'button',
            'data-toggle' => 'dropdown', 'aria-haspopup' => 'true',
            'aria-expanded' => 'false'}
            = create_icon
            %span.hidden-xs Event erstellen
            %span.caret

          %ul.dropdown-menu.pull-right
            - [LeagueMatch, CupMatch, Other].each do |event_class|
              %li
                = link_to event_class.model_name.human,
                  new_event_path(type: event_class.name)

- @events.in_groups_of(4) do |events|
  .card-deck-wrapper
    .card-deck
      - events.compact.each do |event|
        = render 'event', event: event

= render 'layouts/pagination', entries: @events
