.page-header
  %h1
    Events
    - if admin?
      .pull-right
        .btn-group
          %button.primary-button.dropdown-toggle{type: 'button',
            'data-toggle' => 'dropdown', 'aria-haspopup' => 'true',
            'aria-expanded' => 'false'}
            = create_icon
            %span.hidden-xs Event erstellen
            %span.caret

          %ul.dropdown-menu.pull-right
            %li= link_to LeagueMatch.model_name.human, new_event_path(type: 'LeagueMatch')
            %li= link_to CupMatch.model_name.human, new_event_path(type: 'CupMatch')
            %li= link_to Other.model_name.human, new_event_path(type: 'Other')

- @events.in_groups_of(4) do |events|
  .row
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
      = render 'event', event: events.first
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
      = render 'event', event: events.second if events.second.present?
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
      = render 'event', event: events.third if events.third.present?
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
      = render 'event', event: events.fourth if events.fourth.present?

= render 'layouts/pagination', entries: @events
