= content_for :title, Event.model_name.human(count: 2)

%h1
  = content_for(:title)

- if can? :create, Event
  .dropup.mb-4
    = button_tag class: 'btn btn-primary dropdown-toggle',
      type: 'button',
      id: 'createEventDropdownButton',
      'data-toggle': 'dropdown',
      'aria-haspopup': 'true',
      'aria-expanded': 'false' do
      = create_icon
      Event erstellen

    .dropdown-menu{'aria-labelledby': 'createEventDropdownButton'}
      - [LeagueMatch, CupMatch, Other].each do |event_class|
        = link_to event_class.model_name.human,
          new_event_path(type: event_class.name),
          class: 'dropdown-item'

        - unless event_class == Other
          .dropdown-divider

.card-deck
  - @events.each do |event|
    .card.mb-4.text-center{style: 'min-width: 220px', class: ('border-dark' if event.future?)}
      .card-header
        = event.model_name.human

      .card-body
        %h5.card-title
          = event.name

        %ul.list-unstyled
          %li
            = date_icon
            = l(event.datetime, format: :date_only)

          %li
            = time_icon
            = l(event.datetime, format: :time_only)

      .card-footer
        = event_or_attendance_list_or_report_link(event)

= render 'layouts/pagination', entries: @events
