.page-header
  %h1
    Events
    %small= @events.count

%table
  %thead
    %tr
      %th Name
      %th Datum / Uhrzeit
      %th Min / Max
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.name
        %td= l event.datetime, format: :short_with_day
        %td #{event.list.minimum} / #{event.list.maximum}
        %td
          = link_to event, class: 'extra-small-button' do
            %span.glyphicon.glyphicon-eye-open
          = link_to edit_event_path(event), class: 'extra-small-button' do
            %span.glyphicon.glyphicon-wrench
          = link_to event, method: :delete, class: 'extra-small-button',
            data: { :confirm => 'Are you sure?' } do
            %span.glyphicon.glyphicon-trash

%br

= link_to 'Neues Event', new_event_path, class: 'primary-button'
