.page-header
  %h1
    Neuer Termin Mail
    %small
      = @event.name
      = surround '(', ')' do
        = @event.model_name.human

= bootstrap_form_tag url: open_with_mail_event_path(@event) do |f|

  .row
    .col-md-4
      .panel.panel-primary
        .panel-heading
          %h2.panel-title
            Empfänger
            %small.recipientsCount= @possible_users.count

        .panel-body
          %p
            = @possible_users.pluck(:alias).join(', ')

          %p
            = button_tag type: 'button',
              'data-toggle' => 'collapse',
              'data-target' => '#selectRecipients',
              class: 'default-button' do
              bearbeiten

        .panel-footer.collapse#selectRecipients
          = f.collection_check_boxes 'user_ids[]',
            @all_players,
            :id,
            :email_with_name,
            checked: @possible_users.pluck(:id),
            hide_label: true

          %p
            = button_tag type: 'button',
              'data-toggle' => 'collapse',
              'data-target' => '#selectRecipients',
              class: 'default-button' do
              Fertig

    .col-md-8
      .panel.panel-primary
        .panel-heading
          %h2.panel-title Vorschau

        .panel-body
          = render 'event_mailer/open_replies', event: @event, message: nil

        .panel-footer
          = f.text_area :message, label: 'Nachricht hinzufügen?'

          = button_tag type: 'submit', class: 'primary-button' do
            = mail_icon
            Meldeliste öffnen und Mail versenden

          = link_to 'Abbrechen', event_path(@event), class: 'default-button'
