%ol.breadcrumb
  %li
    = link_to 'Events', events_path
  %li
    = link_to @event.name, event_path(@event)
  %li.active
    Neuer Termin Mail

.page-header
  %h1
    Neuer Termin Mail
    %small
      = @event.name
      = surround '(', ')' do
        = @event.model_name.human

= bootstrap_form_tag url: open_with_mail_event_path(@event) do |f|

  .row
    .col-md-3
      .panel.panel-primary
        .panel-heading
          %h2.panel-title
            Empfänger
            %small= @possible_users.count

            .pull-right
              %small
                = link_to 'bearbeiten',
                  '#editRecipients',
                  'data-toggle' => 'collapse'

        .panel-body
          = @possible_users.pluck(:alias).join(', ')

        .panel-footer.collapse#editRecipients
          = f.collection_check_boxes 'user_ids[]',
            @all_users,
            :id,
            :email_with_name,
            checked: @possible_users.pluck(:id),
            hide_label: true

    .col-md-9
      .panel.panel-primary
        .panel-heading
          %h2.panel-title Vorschau

        .panel-body
          = render 'event_mailer/open_replies', event: @event, message: nil

        .panel-footer
          = f.text_area :message, label: 'Nachricht hinzufügen?'

          = button_tag type: 'submit', class: 'primary-button' do
            = mail_icon
            Meldeliste öffnen und Mail versenden

          = link_to 'Abbrechen', event_path(@event), class: 'default-button'
