= render 'subnavigation', event: @event

.page-header
  %h1
    = @event.name
    %small
      = @event.model_name.human
      = link_to event_path(@event, format: :ics),
        class: 'default-button-xs' do
        = download_icon
        \.ics

= render 'basic_information', event: @event

= render 'admin_bar', event: @event if admin?

- if @event.description?
  %p.lead
    = comment_icon
    = @event.description

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Meldeliste
      %small
        - if @event.replyable?
          geöffnet
        - else
          geschlossen

  .panel-body
    = render 'replies/form', reply: @reply if @event.replyable?

    = render 'progress_bar', event: @event

  = render 'replies/replies', replies: @event.replies.includes(:user_profile)

.halfs
  .half
    .panel.panel-default
      .panel-heading
        %h3.panel-title Adresse

      .panel-body
        %p
          = address_icon
          = @event.address
        %p
          = link_icon
          = link_to 'in Google Maps öffnen',
            @event.google_maps_url,
            target: :blank
        %p
          = image_tag @event.google_static_maps_url,
            class: 'img-responsive img-rounded'

  .half
    .panel.panel-default
      .panel-heading
        %h3.panel-title Letzte Begegnungen

      = render 'events/list_short', events: @previous_events
