= content_for(:title, @event.name)

.card
  .card-header
    = render 'header_with_subnavigation',
      event: @event,
      subtitle: @event.model_name.human

  .card-body
    - if @event.description?
      %p.lead
        = comment_icon
        = @event.description

    = link_to event_path(@event, format: :ics),
      class: 'card-link btn btn-secondary' do
      = download_icon
      \.ics

    - if can? :update, Event
      = link_to edit_polymorphic_path(@event),
        class: 'card-link btn btn-secondary' do
        = edit_icon
        Event bearbeiten

    - if can? :destroy, Event
      = link_to event_path(@event),
        method: :delete,
        class: 'card-link btn btn-secondary',
        data: { confirm: 'Event wirklich löschen?' } do
        = delete_icon
        Event Löschen

    %hr

    %h3
      Adresse

    %p
      = address_icon
      = @event.address
    %p
      = link_icon
      = link_to 'in Google Maps öffnen',
        @event.google_maps_url,
        target: :blank
    %p
      = image_tag @event.google_static_maps_url,
        class: 'card-img-top'

    %hr

    %h3.panel-title Letzte Begegnungen

  = render 'events/list_short', events: @previous_events
