%ol.breadcrumb
  %li
    = link_to 'Events', events_path
  %li.active
    = @event.name

.page-header
  %h1
    = @event.name
    %small= @event.model_name.human

.thirds
  .third
    %p.lead
      = date_icon
      = l(@event.datetime, format: :date_only)
  .third
    %p.lead
      = time_icon
      = l(@event.datetime, format: :time_only)
  .third
    %p.lead
      = address_icon
      = @event.address

%p.lead= @event.description

= render 'admin_bar', event: @event if admin?

.halfs
  .half
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Meldeliste
          %small.text-muted
            - if @event.replyable?
              offen
            - else
              geschlossen

      .panel-body
        = render 'replies/form', reply: @reply if @event.replyable?

        = render 'progress_bar', event: @event

      = render 'replies/replies', replies: @event.replies

  .half
    .panel.panel-default
      .panel-heading
        %h3.panel-title Letzte Begegnungen

      = render 'events/list_short', events: @previous_events

    .panel.panel-default
      .panel-heading
        %h3.panel-title Adresse

      .panel-body
        %p
          = address_icon
          = @event.address
        %p
          = link_icon
          = link_to 'in Google Maps öffnen',
            @event.google_maps_url,
            target: :blank
        %p
          = image_tag @event.google_static_maps_url,
            class: 'img-responsive img-rounded'
