.page-header
  %h1
    = @event.name
    %small.pull-right= l @event.datetime, format: :short_with_day

= render 'progress_bar', event: @event

.half-half
  .left-half
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Meldeliste
          %span.pull-right #{@event.minimum} - #{@event.maximum}

      %ul.list-group
        - for player in @players
          = render 'event_responses/form', event: @event, user: player

  .right-half
    .panel.panel-default
      .panel-heading
        %h3.panel-title Beschreibung
      .panel-body
        %p= @event.description

    .panel.panel-default
      .panel-heading
        %h3.panel-title Adresse
      .panel-body
        %p
          = @event.address
          = image_tag 'favicon', class: 'img-responsive img-thumbnail'

= link_to edit_event_path(@event), class: 'default-button' do
  %span.glyphicon.glyphicon-wrench

= link_to 'Alle Events', events_path, class: 'default-button'
