= render 'breadcrumbs', event: @event

= render 'summary', event: @event, reply: @reply

= render 'progress_bar', event: @event

.half-half
  .left-half
    .panel-group#replies{role: 'tablist', 'aria-multiselectable' => true}
      = render 'replies', event: @event, replies: @yes_replies, status: :yes
      = render 'replies', event: @event, replies: @maybee_replies, status: :maybee
      = render 'replies', event: @event, replies: @no_replies, status: :no
      = render 'replies', event: @event, replies: @watch_replies, status: :watch

      - if @no_reply_players.present?
        .panel.panel-default
          .panel-heading#headingMissing{role: 'tab'}
            %h3.panel-title
              %a{href: '#collapseMissing', 'data-toggle' => 'collapse',
              'data-parent' => '#replies', 'aria-expanded' => true,
              'aria-controls' => 'collapseMissing'}
                Ausstehend

              %span.label.label-default= @no_reply_players.count

          .panel-collapse.collapse#collapseMissing{role: 'tabpanel',
            'aria-labelledby' => 'headingMissing'}

            %ul.list-group
              - for player in @no_reply_players
                %li.list-group-item.list-group-item-default
                  = player.username

  .right-half
    .panel.panel-default
      .panel-heading
        %h3.panel-title Beschreibung
      .panel-body
        %p= @event.description

    .panel.panel-default
      .panel-heading
        %h3.panel-title Adresse
      .panel-body
        %p
          = address_icon
          = @event.address
        %p
          = link_icon
          = link_to 'in Google Maps öffnen',
            @event.google_maps_url,
            target: :blank
        %p
          = image_tag @event.google_static_maps_url,
            class: 'img-responsive img-rounded'

- if admin?
  = link_to edit_event_path(@event), class: 'default-button' do
    = edit_icon
    Bearbeiten
  = link_to '#', data: { confirm: 'Wirklich Aufruf senden?'},
    class: 'default-button' do
    = mail_icon
    Aufruf (TODO)
  = link_to '#', data: { confirm: 'Wirklich Final Call senden?'},
    class: 'default-button' do
    = mail_icon
    Final Call (TODO)
