= bootstrap_form_for(@news) do |f|
  = f.text_field :title
  = f.text_area :content, as: :text, class: 'wysihtml5'
  = f.check_box :internal

  = f.form_group do
    = f.submit class: 'primary-button'
    = link_to 'Abbrechen', news_index_path, class: 'default-button'
