= simple_form_for(@news) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :content, as: :text, input_html: { class: 'wysihtml5' }
    = f.input :internal

  .form-actions
    = f.button :submit, class: 'primary-button'
    = link_to 'Abbrechen', news_index_path, class: 'default-button'
