.panel.panel-primary
  .panel-heading
    %h3.panel-title
      - if news.internal
        %span.label.label-default Intern
      = news.title
      .pull-right
        = l(news.created_at)

  .panel-body
    = news.content.html_safe

  - if admin?
    .panel-footer
      = link_to edit_news_path(news), class: 'default-button-xs' do
        = edit_icon
        Bearbeiten
      = link_to news,
        method: :delete,
        class: 'danger-button-xs',
        data: { :confirm => 'Wirklich unwiderruflich löschen?' } do
        = delete_icon
        Löschen
