.panel{class: (news.internal? ? 'panel-default' : 'panel-primary')}
  .panel-body
    %h3
      = news.title
      %small.pull-right
        = internal_icon if news.internal?
        = l(news.created_at, format: :date_only)

    = truncate(news.content,
               length: 1_500,
               separator: '<br><br>',
               omission: "<br>",
               escape: false) do

      = link_to 'weiterlesen', news_path(news)

  - if can?(:destroy, news) && can?(:update, news)
    .panel-footer
      = link_to edit_news_path(news), class: 'default-button-xs' do
        = edit_icon
        Bearbeiten

      = link_to news,
        method: :delete,
        class: 'default-button-xs',
        data: { :confirm => 'Wirklich unwiderruflich löschen?' } do
        %span.text-danger
          = delete_icon
          Löschen
