.card{class: ('card-outline-primary' unless news.internal?)}
  .card-block
    %p.card-text
      %small.text-muted
        = internal_icon if news.internal?
        = l(news.created_at, format: :date_only)

    %h2.card-title
      = news.title

    %p.card-text.text-justified
      = truncate(news.content,
                 length: 1_500,
                 separator: '<br><br>',
                 omission: "<br>",
                 escape: false) do

        = link_to 'weiterlesen', news_path(news)

    - if can?(:update, news)
      = link_to edit_news_path(news), class: 'card-link warning-button-sm' do
        = edit_icon
        Bearbeiten
