.panel.panel-primary
  .panel-body
    %h3
      - if news.internal
        %span.label.label-default Intern
      = news.title

    = news.content.html_safe

  - if admin?
    .panel-footer
      = link_to edit_news_path(news), class: 'default-button-xs' do
        = edit_icon
        Bearbeiten
      = link_to news,
        method: :delete,
        class: 'default-button-xs',
        data: { :confirm => 'Wirklich unwiderruflich löschen?' } do
        %span.text-danger
          = delete_icon
          Löschen
