%h1
  News

- if can? :create, News
  = link_to new_news_path, class: 'primary-button mb-4' do
    = create_icon
    = t('create_model_name', model_name: News.model_name.human)

.row
  .col
    - @news.each do |news|
      = render 'news', news: news

    = render 'layouts/pagination', entries: @news

  .col-lg-3
    = render 'archive', news_by_month: @news_by_month
