.page-header
  %h1
    News

    - if admin?
      .pull-right
        = link_to new_news_path, class: 'primary-button' do
          = create_icon
          %span.hidden-xs News erstellen

- for news in @news
  = render 'news', news: news

.text-center.text-muted
  = page_entries_info @news
.text-center
  = paginate(@news)
