.page-header
  %h1
    News
    - if admin?
      .pull-right
        = link_to new_news_path, class: 'primary-button' do
          = create_icon
          News erstellen

%p.text-right= page_entries_info @news

- for news in @news
  = render 'news', news: news

.pull-right= paginate(@news)
