= content_for :title, 'News'

%h1
  = content_for :title

  - if can?(:create, News)
    .pull-right
      = link_to new_news_path, class: 'primary-button' do
        = create_icon
        %span.hidden-xs-down News erstellen

%hr

- @news.each do |news|
  = render news

= render 'layouts/pagination', entries: @news
