= bootstrap_form_for page do |f|
  .row
    .col-md-4
      = f.text_field :slug, prepend: root_url

      = f.check_box :public

      = f.check_box :published

    .col-md-8
      .row
        .col-md-6
          = f.text_field :header,
            placeholder: '<h1> Überschrift der Seite'

        .col-md-6
          = f.text_field :subheader, placeholder: 'optional'

      = f.text_area :content, rows: 20, class: 'bootstrapMarkdown'

  = f.submit
