= content_for :title, "#{Page.model_name.human} erstellen"

.page-header
  %h1
    = content_for :title
    .pull-right
      = link_to pages_path, class: 'default-button' do
        = list_icon
        %span.hidden-xs Alle Seiten

= render 'form', page: @page
