.jumbotron
  %h1 Willkommen beim CFB Hasenheide
  %p Vorne offen - hinten zu

.row
  .col-md-8
    .panel.panel-primary
      .panel-heading
        %h2.panel-title
          Neuigkeiten
          .pull-right
            %small
              = link_to 'Alle anzeigen', news_index_path

    - @news.each do |news|
      = render 'news/news', news: news

  .col-md-4
    .panel.panel-primary
      .panel-heading
        %h2.panel-title
          Events

          - if user_signed_in?
            .pull-right
              %small
                = link_to 'Alle anzeigen', events_path

      .panel-body
        .text-muted Kommende

      = render 'events/list_short', events: @future_events

      .panel-body
        .text-muted Vergangene

      = render 'events/list_short', events: @past_events

    .panel.panel-primary
      .panel-heading
        %h2.panel-title Tabelle

      .panel-body
        .fussballDeWidget#tableCFB
          = spinner_icon
          Lade Tabelle

    .panel.panel-primary
      .panel-heading
        %h2.panel-title Spielplan

      .panel-body
        .fussballDeWidget#scheduleCFB
          = spinner_icon
          Lade Spielplan
