= render @homepage_header if @homepage_header

.row
  .col-md-8
    .card.card-primary.card-inverse
      %h2.card-header
        Neuigkeiten
        .pull-right
          = link_to 'Alle anzeigen', news_index_path

    .card-columns
      - @news.each do |news|
        = render news

  .col-md-4
    .card
      %h2.card-header
        Events

        - if user_signed_in?
          .pull-right
            %small
              = link_to 'Alle anzeigen', events_path

      .card-block
        %p.card-text
          %small.text-muted Kommende

      = render 'events/list_short', events: @future_events

      .card-block
        %p.card-text
          %small.text-muted Vergangene

      = render 'events/list_short', events: @past_events

.card
  %h2.card-header Tabelle

  .card-block
    %p.card-text
      .fussballDeWidget#tableCFB
        = spinner_icon
        Lade Tabelle

.card
  %h2.card-header Spielplan

  .card-block
    %p.card-text
      .fussballDeWidget#scheduleCFB
        = spinner_icon
        Lade Spielplan
