.jumbotron
  %h1 Willkommen beim CFB Hasenheide
  %p
    Cola, Fanta, Bier - die Hasenheide ist hier! Wir spielen auch das nächste
    Turnier - und dann, dann gewinnen wir!

.panel.panel-primary
  .panel-body
    Hier entsteht eine neue Internetpräsenz des CFB Hasenheide. Bitte folgen
    Sie diesem Link, um auf die aktuelle Seite zu gelangen:
    = link_to 'http://www.cfb-hasenheide.de', 'http://www.cfb-hasenheide.de'

.row
  .col-md-8
    .panel.panel-primary
      .panel-heading
        %h2.panel-title
          Neuigkeiten
          %small
            .pull-right
              = link_to 'Alle anzeigen', news_index_path

    - @news.each do |news|
      = render 'news/news', news: news

  .col-md-4
    .panel.panel-primary
      .panel-heading
        %h2.panel-title
          Events
          %small
            .pull-right
              = link_to 'Alle anzeigen', news_index_path
      .panel-body
        .text-muted Kommende
      = render 'events/list_short', events: @future_events
      .panel-body
        .text-muted Vergangene
      = render 'events/list_short', events: @past_events

    .panel.panel-primary
      .panel-heading
        %h2.panel-title Tabelle - CFB I
      .panel-body
        .fussballDeWidget#fussballDeTableCFBI
          = spinner_icon
          Lade Tabelle

    .panel.panel-primary
      .panel-heading
        %h2.panel-title Tabelle - CFB II
      .panel-body
        .fussballDeWidget#fussballDeTableCFBII
          = spinner_icon
          Lade Tabelle
