.page-header
  %h1 Willkommen!

.panel.panel-primary
  .panel-body
    Hier entsteht eine neue Internetpräsenz des CFB Hasenheide. Bitte folgen
    Sie diesem Link, um auf die aktuelle Seite zu gelangen:
    = link_to 'http://www.cfb-hasenheide.de', 'http://www.cfb-hasenheide.de'

.row
  .col-md-9
    - @news.each do |news|
      = render 'news/news', news: news

  .col-md-3
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Events
      .panel-body
        .text-muted Kommende
      = render 'events/list_short', events: @upcoming_events
      .panel-body
        .text-muted Vergangene
      = render 'events/list_short', events: @past_events

.halfs
  .half
    .panel.panel-primary
      .panel-heading
        %h3.panel-title CFB Hasenheide I - Ü32 Freizeit Landesliga KF
      .panel-body
        #cfbIFussballDeWidget
          = spinner_icon
          Lade Tabelle

  .half
    .panel.panel-primary
      .panel-heading
        %h3.panel-title CFB Hasenheide II - Herren Freizeit Landesliga St.1 KF
      .panel-body
        #cfbIIFussballDeWidget
          = spinner_icon
          Lade Tabelle
