= simple_form_for(@user_profile) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user, as: :hidden
    = f.input :alias
    = f.input :avatar_url

  .form-actions
    = f.button :submit, 'Speichern', class: 'primary-button'
