.page-header
  %h1 Profile

%table
  %thead
    %tr
      %th User
      %th Alias
      %th Avatar
      %th
      %th
      %th

  %tbody
    - @user_profiles.each do |user_profile|
      %tr
        %td= user_profile.user_id
        %td= user_profile.alias
        %td= user_profile.avatar
        %td= link_to 'Show', user_profile
        %td= link_to 'Edit', edit_user_profile_path(user_profile)
