%p#notice= notice

%p
  %b User:
  = @user_profile.user
%p
  %b Alias:
  = @user_profile.alias
%p
  %b Avatar url:
  = @user_profile.avatar_url

= link_to 'Edit', edit_user_profile_path(@user_profile)
\|
= link_to 'Back', user_profiles_path
