%dl.row
  %dt.col-sm-6
    = Contact.human_attribute_name(:phone1)

  %dd.col-sm-6
    = contact.phone1

  %dt.col-sm-6
    = Contact.human_attribute_name(:phone2)

  %dd.col-sm-6
    = contact.phone2

  %dt.col-sm-6
    = Contact.human_attribute_name(:club_email)

  %dd.col-sm-6
    = contact.club_email
