= content_for :title, 'Kontaktdaten bearbeiten'

%h1
  = content_for :title

= bootstrap_form_for @contact,
  layout: :horizontal,
  label_col: 'col-md-2',
  control_col: 'col-md-4' do |f|
  = f.text_field :phone1
  = f.text_field :phone2
  = f.text_field :club_email

  = f.form_group do
    = f.primary
    = link_to t('links.cancel'),
      player_path(@contact.member.player), class: 'default-button'

