.row
  .col-lg-4.col-lg-offset-4.col-sm-12

    .panel.panel-default
      .panel-heading
        %h3.panel-title Anmelden

      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .panel-body

          .form-group
            = f.label :username
            = f.text_field :username, autofocus: true, class: 'form-control'

          .form-group
            = f.label :password
            = f.password_field :password, autocomplete: 'off', class: 'form-control'

          - if devise_mapping.rememberable?
            .checkbox
              = f.label :remember_me
              = f.check_box :remember_me

        .panel-footer
          = f.submit 'Anmelden', class: 'btn btn-primary btn-block'
          = render 'devise/shared/links'
