= bootstrap_form_for player,
  layout: :horizontal,
  label_col: 'col-md-4',
  control_col: 'col-md-8' do |f|

  = f.hidden_field :member_id, value: f.object.member_id

  = f.select :status, player_status_options, prompt: true

  = f.select :jersey_number, (1..99).to_a, prompt: true

  = f.text_field :jersey_name

  = f.text_field :nickname

  = f.form_group do
    = f.check_box :player_pass,
      'data-toggle' => 'collapse',
      'data-target' => '#playerPassForm'

  .collapse#playerPassForm{class: ('show' if player.player_pass?)}
    = f.text_field :player_pass_number

    = f.date_select :eligible_to_play_since,
      start_year: Date.today.year,
      end_year: Date.today.year - 10,
      prompt: true

  %hr

  = f.static_control :portrait do
    = image_tag player.portrait, class: 'w-25' if player.portrait.attached?

  = f.file_field :portrait, label: t('edit')

  %hr

  = f.static_control :avatar do
    = image_tag player.avatar_url(:thumb), class: 'img-thumbnail'
    %small.help-block
      Dein Avatar ist dein internes User-Bild. Es wird automatisch auf
      #{AvatarUploader::RESIZE_WIDTH}x#{AvatarUploader::RESIZE_HEIGHT}
      Pixel zugeschnitten.
  = f.file_field :avatar, label: 'ändern'
  = f.hidden_field :avatar_cache

  = f.form_group do
    = f.check_box :remove_avatar, label: 'entfernen'

  = f.form_group do
    = f.primary
