= bootstrap_form_for player,
  layout: :horizontal,
  label_col: 'col-md-2',
  control_col: 'col-md-4' do |f|

  = f.static_control :avatar do
    = image_tag player.avatar_url(:thumb), class: 'img-thumbnail'
    %small.help-block
      Dein Avatar ist dein internes User-Bild. Es wird automatisch auf
      #{AvatarUploader::RESIZE_WIDTH}x#{AvatarUploader::RESIZE_HEIGHT}
      Pixel zugeschnitten.
  = f.file_field :avatar, label: 'ändern'
  = f.hidden_field :avatar_cache

  = f.form_group do
    = f.check_box :remove_avatar, label: 'entfernen'

  %hr

  = f.select :status, player_status_options, prompt: true
  = f.number_field :jersey_number, min: 0, max: 99
  = f.text_field :jersey_name
  = f.hidden_field :user_id
  = f.text_field :nickname

  = f.form_group do
    = f.check_box :player_pass,
      'data-toggle' => 'collapse',
      'data-target' => '#playerPassForm'

  .collapse#playerPassForm{class: ('in' if player.player_pass?)}
    = f.text_field :player_pass_number

    = f.date_select :eligible_to_play_since,
      start_year: Date.today.year - 100,
      end_year: Date.today.year,
      prompt: true

  %hr

    %hr

  = f.form_group do
    = f.submit class: 'primary-button'
    = link_to 'Abbrechen', players_path, class: 'default-button'
