= content_for :title, t('create_model_name', model_name: Player.model_name.human)

%h1
  = content_for :title

= bootstrap_form_tag url: new_player_path,
  method: :get,
  layout: :horizontal,
  label_col: 'col-md-2',
  control_col: 'col-md-4' do |f|

  = f.collection_select :member_id,
    Member.without_player,
    :id,
    :full_name,
    prompt: true,
    label: Member.model_name.human

  = f.form_group do
    = f.submit t('create'), class: 'primary-button'
    = link_to t('cancel'), players_path, class: 'default-button'
