= content_for :title, 'Spieler für User erstellen'

.page-header
  %h1= content_for :title

= bootstrap_form_tag url: new_player_path,
  method: :get,
  layout: :horizontal,
  label_col: 'col-md-2',
  control_col: 'col-md-4' do |f|

  = f.collection_select :user_id,
    User.without_player,
    :id,
    :username,
    prompt: true,
    label: 'User'

  = f.form_group do
    = f.submit 'Erstellen', class: 'primary-button'
    = link_to 'Abbrechen', players_path, class: 'default-button'
