= content_for :title, Player.model_name.human(count: 2)

%h1
  = content_for :title

- if can? :create, Player
  = link_to for_member_new_player_path, class: 'primary-button mb-4' do
    = create_icon
    = t('create_model_name', model_name: Player.model_name.human)

.card-deck
  - @players.each do |player|
    .card.mb-4.text-center{style: 'min-width: 220px'}
      - if player.portrait.attached?
        = image_tag player.portrait,
          class: 'card-img-top w-100',
          alt: player.nickname

      .card-body.py-0

      .card-footer
        = link_to player_path(player),
          class: 'btn btn-outline-primary btn-block' do
          = player.nickname

          - if player.jersey_number?
            %span.badge.badge-primary
              = player.jersey_number

= render 'layouts/pagination', entries: @players
