= content_for :title, @player.nickname

.page-header
  %h1
    Spieler
    %small= @player.nickname
    .pull-right
      = link_to players_path, class: 'default-button' do
        = list_icon
        %span.hidden-xs Alle Spieler

- if admin? || current_user == @player.member.user
  .well.well-sm
    = link_to edit_member_path(@player.member), class: 'default-button' do
      = edit_icon
      Person bearbeiten
    = link_to edit_player_path(@player), class: 'default-button' do
      = edit_icon
      Spielerdaten bearbeiten
    = link_to edit_address_path(@player.address), class: 'default-button' do
      = edit_icon
      Addresse ändern
    -# = link_to edit_contact_path(@player.contact), class: 'default-button' do
    -#   = edit_icon
    -#   Kontaktdaten bearbeiten

.halfs
  .half
    = render 'members/details', member: @player.member
  .half
    = render 'details', player: @player

.halfs
  .half
    = render 'addresses/details', address: @player.address
  -# .half
  -#   = render 'contacts/details', contact: @player.contact
