= content_for :title, "#{Player.model_name.human} #{@player.nickname}"

%h1
  = Player.model_name.human

  %small.text-muted
    = @player.nickname

= render @player

= render 'members/card', member: @player.member
