= bootstrap_form_for post do |f|
  = f.hidden_field :member_id, value: current_user.member.id

  = f.check_box :public

  = f.text_field :title

  = f.text_field :subtitle

  = f.static_control :image do
    = image_tag f.object.image_url, class: 'img-thumbnail'

  = f.file_field :image

  = f.hidden_field :image_cache

  = f.check_box :remove_image, label: 'entfernen'

  = f.text_area :summary, rows: 3

  = f.text_area :content, rows: 9

  = f.date_field :posted_on

  = f.submit
