%li.list-group-item.flex-column.align-items-start
  .d-flex.w-100.justify-content-between
    %h5.mb-1
      = goal_icon

      = surround '(', ')' do
        = goal.club_score
        \:
        = goal.rival_score

      = Goal.model_name.human
      für
      = goal.club? ? goal.event.club_team_name : goal.event.rival_team_name

    %small
      = succeed "'" do
        = goal.minute
        - if goal.extra_time?
          \+
          = goal.extra_time

  %p.mb-1
    = goal.scorer&.nickname

    - if goal.provider_id?
      = surround '(', ')' do
        = goal.provider.nickname

  - if goal.comment?
    %p.mb-1
      = goal.comment

  %small
    - if goal.updated_at > goal.created_at
      Editiert am
      = l goal.updated_at, format: :short

    - else
      Erstellt am
      = l goal.created_at, format: :short

    von
    = goal.reporter.nickname

    - if can? :update, Goal
      = link_to edit_goal_path(goal) do
        = edit_icon
        bearbeiten
