%h1 Admin Dashboard
%ul
  %li Spieler erstellen
  %li
    = link_to 'Rollen erstellen', roles_path
  %li
    = link_to 'Rollen zuweisen', functions_path
  %li
    = link_to 'User verwalten', users_path
  %li
    = link_to 'Teams verwalten', teams_path
  %li
    = link_to HomepageHeader.model_name.human(count: 2), homepage_headers_path
  %li Event erstellen
