= content_for(:title, "Match Events #{@event.name}")

.card
  .card-header
    = render 'events/header_with_subnavigation',
      event: @event,
      subtitle: 'Match Events'

  .card-body
    = link_to new_event_goal_path(@event),
      class: 'card-link btn btn-secondary' do
      = create_icon
      = Goal.model_name.human

  %ul.list-group.list-group-flush
    = render @goals
