= bootstrap_form_for(forum_thread) do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.text_field :topic
  = f.text_area :comment

  = f.submit class: 'primary-button'
  = link_to 'Abbrechen', forum_threads_path, class: 'default-button'
