= content_for :title, 'Forum'

.page-header
  %h1
    = content_for :title

    .pull-right
      = link_to new_forum_thread_path, class: 'primary-button' do
        = create_icon
        %span.hidden-xs Thema erstellen

%p.text-center.text-muted
  = page_entries_info @forum_threads

.list-group
  = render @forum_threads

.text-center
  = paginate @forum_threads
