= content_for :title, "Forum | #{@forum_thread.topic}"

.page-header
  %h1
    = ForumThread.model_name.human

    %small
      = @forum_thread.topic

    .pull-right
      = link_to forum_threads_path, class: 'default-button' do
        = list_icon
        %span.hidden-xs Alle anzeigen

.panel.panel-default
  .panel-body
    .media
      .media-body
        .text-muted
          Erstellt von
          %strong= @forum_thread.user_nickname
          am
          = l(@forum_thread.created_at, format: :short)

        = @forum_thread.comment

      .media-right
        = image_tag @forum_thread.user_avatar_url(:small_thumb),
          width: '30',
          height: '30',
          alt: current_user.nickname,
          class: 'img-circle'

%p.text-center.text-muted
  = @forum_thread.forum_posts_count
  = ForumPost.model_name.human(count: @forum_thread.forum_posts_count)

.panel.panel-default
  %ul.list-group
    = render @forum_thread.forum_posts

  .panel-footer
    = render 'forum_posts/form', forum_post: @forum_thread.build_forum_post

.well.well-sm
  - if can? :update, @forum_thread
    = link_to edit_forum_thread_path(@forum_thread), class: 'default-button-xs' do
      = edit_icon
      Editieren

  - if can? :destroy, @forum_thread
    = link_to @forum_thread, method: :delete, class: 'default-button-xs',
      data: { confirm: 'Das Thema wirklich löschen?' } do
      %span.text-danger
        = delete_icon
        Löschen
