.panel.panel-primary
  .panel-heading
    %h3.panel-title
      Thema:
      = @forum_thread.topic

  .panel-footer
    .two-ten
      .two
        = image_tag('hase.png', class: 'img-thumbnail', size: '50x50')
      .ten
        %blockquote.blockquote
          = @forum_thread.comment
          %footer
            Erstellt von
            = user_icon
            = User.find(@forum_thread.user_id).username
            = time_icon
            vor
            = time_ago_in_words(@forum_thread.created_at)

    .two-ten
      .two
        = link_to 'Antworten', '#answerForm', class: 'primary-button',
          'data-toggle' => 'collapse', 'aria-expanded' => 'false',
          'aria-controls' => 'answerForm'
      .ten
        .collapse#answerForm
          %blockquote
            = simple_form_for @forum_thread do |f|
              = f.input :comment
              = f.submit 'Abschicken', class: 'primary-button-sm'
              = link_to 'Abbrechen', '#answerForm', class: 'default-button-sm',
                'data-toggle' => 'collapse', 'aria-expanded' => 'false',
                'aria-controls' => 'answerForm'

  .panel-body
    .two-ten
      .two
        = image_tag('hase.png', class: 'img-thumbnail', size: '50x50')
      .ten
        %blockquote
          Mauris varius dignissim gravida. Curabitur scelerisque eleifend dui, ut vestibulum dui ornare vel. Nunc hendrerit neque at fringilla elementum. Phasellus gravida pharetra tincidunt. Duis nec ex velit. Vestibulum in neque faucibus, condimentum lectus non, dictum felis. Praesent in massa et ante pharetra pellentesque ut interdum nunc.
          %footer
            = user_icon
            Hase 4
            = time_icon
            3 Minuten her

    .two-ten
      .two
        = image_tag('hase.png', class: 'img-thumbnail', size: '50x50')
      .ten
        %blockquote
          Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.
          %footer
            = user_icon
            Hase 4
            = time_icon
            3 Minuten her

  - if @forum_thread.user_id == current_user.id or admin?
    .panel-footer
      = link_to edit_forum_thread_path(@forum_thread), class: 'default-button-xs' do
        = edit_icon
        Editieren
      = link_to @forum_thread, method: :delete, class: 'default-button-xs',
        data: { confirm: 'Das Thema wirklich löschen?' } do
        %span.text-danger
          = delete_icon
          Löschen
