= simple_form_for event_response do |f|
  = f.input :event_id, as: :hidden
  = f.input :user_id, as: :hidden
  = f.input :status,
    collection: status_options,
    selected: event_response.status,
    prompt: 'Bist du dabei?',
    label: false
  = f.button :submit, 'Speichern', class: 'primary-button'
