= bootstrap_form_for report, layout: :horizontal, label_col: 'col-md-2',
  control_col: 'col-md-10' do |f|

  - if f.object.event_id.blank?
    = f.collection_select :event_id, Event.without_report, :id,
      :name, prompt: true, control_col: 'col-md-4'

  .form-group
    %label.col-md-2.control-label Endstand
    .col-md-4
      .input-group
        %span.input-group-addon CFB
        = f.number_field_without_bootstrap :club_final_score, min: 0,
          class: 'form-control'
        %span.input-group-addon :
        = f.number_field_without_bootstrap :rival_final_score, min: 0,
          class: 'form-control'
        %span.input-group-addon Gegner

  .form-group
    %label.col-md-2.control-label Halbzeitstand
    .col-md-4
      .input-group
        %span.input-group-addon CFB
        = f.number_field_without_bootstrap :club_half_time_score, min: 0,
          class: 'form-control'
        %span.input-group-addon :
        = f.number_field_without_bootstrap :rival_half_time_score, min: 0,
          class: 'form-control'
        %span.input-group-addon Gegner

  = f.text_area :content, class: 'wysihtml5'

  = f.form_group do
    = f.submit class: 'btn btn-primary'
    = link_to 'Abbrechen', reports_path, class: 'btn btn-default pull-right'
