= bootstrap_form_for report, layout: :horizontal, label_col: 'col-md-2',
  control_col: 'col-md-10' do |f|

  = f.alert_message 'Folgende Fehler sind aufgetreten:'

  .form-group
    = label_tag 'Event', nil, class: 'col-md-2 control-label'
    .col-md-4
      %p.form-control-static
        = report.event.name
        = surround '(', ')' do
          = l(report.event.datetime, format: :date_only)

  .form-group
    = label_tag 'Endstand', nil, class: 'col-md-2 control-label'
    .col-md-4
      = render 'form_final_score', f: f, report: report

  .form-group
    = label_tag 'Halbzeitstand', nil, class: 'col-md-2 control-label'
    .col-md-4
      = render 'form_half_time_score', f: f, report: report


  = f.text_area :content, class: 'wysihtml5'

  = f.form_group do
    = f.submit class: 'btn btn-primary'
    = link_to 'Abbrechen', reports_path, class: 'btn btn-default'
