.input-group
  - if report.home?
    %span.input-group-addon= report.club_team_name

    = f.number_field_without_bootstrap :club_half_time_score, min: 0,
      class: 'form-control'

    %span.input-group-addon :

    = f.number_field_without_bootstrap :rival_half_time_score, min: 0,
      class: 'form-control'

    %span.input-group-addon= report.rival_team_name

  - else
    %span.input-group-addon= report.rival_team_name

    = f.number_field_without_bootstrap :rival_half_time_score, min: 0,
      class: 'form-control'

    %span.input-group-addon :

    = f.number_field_without_bootstrap :club_half_time_score, min: 0,
      class: 'form-control'

    %span.input-group-addon= report.club_team_name
