= bootstrap_form_for report,
  layout: :horizontal,
  label_col: 'col-md-2',
  control_col: 'col-md-4' do |f|

  = f.hidden_field :event_id

  = f.fields_for report.event do |e|
    .form-group
      = e.label report.event.model_name.human, nil, class: 'col-md-2 control-label'
      .col-md-4
        %p.form-control-static
          = report.event_name

    .form-group
      = e.label :datetime, nil, class: 'col-md-2 control-label'
      .col-md-4
        %p.form-control-static
          = l(report.event_datetime)

    .form-group
      = e.label :address, nil, class: 'col-md-2 control-label'
      .col-md-4
        %p.form-control-static
          = report.event_address

  %hr

  .form-group
    = label_tag 'Endstand', nil, class: 'col-md-2 control-label'
    .col-md-4
      = render 'form_final_score', f: f, report: report

  .form-group
    = label_tag 'Halbzeitstand', nil, class: 'col-md-2 control-label'
    .col-md-4
      = render 'form_half_time_score', f: f, report: report

  .form-group
    = label_tag 'Ecken', nil, class: 'col-md-2 control-label'
    .col-md-4
      = render 'form_corners', f: f, report: report

  = f.number_field :possession, min: 0, max: 100, append: '%'

  = f.select :incident, options_for_select(incident_options),
    include_blank: true

  %hr

  = f.select :turf, options_for_select(turf_options), prompt: true

  = f.select :weather, options_for_select(weather_options), prompt: true

  = f.form_group do
    = f.check_box :referee,
      'data-toggle' => 'collapse',
      'data-target' => '#refereeForm'

  .collapse#refereeForm{class: ('in' if report.referee?)}
    = f.text_field :referee_name

    = f.text_field :referee_description

  %hr

  = f.collection_select :goalkeeper_id,
    report.event.attending_players,
    :id,
    :nickname,
    prompt: true

  = f.collection_select :captain_id,
    report.event.attending_players,
    :id,
    :nickname,
    prompt: true

  = f.collection_select :most_valuable_player_id,
    report.event.attending_players,
    :id,
    :nickname,
    prompt: true

  = f.text_area :annotation

  %hr

  = f.text_area :content, class: 'wysihtml5', control_col: 'col-md-10'

  = f.collection_select :reporter_id,
    report.event.attending_players,
    :id,
    :nickname,
    prompt: true

  %hr

  = f.form_group do
    = f.submit class: 'btn btn-primary'
    = link_to 'Abbrechen', :back, class: 'btn btn-default'
