%ul.list-group.list-group-flush
  - reports.each do |report|
    = link_to report_path(report),
      class: 'list-group-item list-group-item-action flex-column align-items-start' do
      .d-flex.w-100.justify-content-between
        %h5.mb-1
          = report.event.name

          %small.text-muted
            = report.event.model_name.human

        - unless report.comments.count.zero?
          %small{'data-toggle' => 'tooltip', title: 'Stimmen zum Spiel'}
            = report.comments.count
            = comment_icon

      %p.mb-1
        %ul.list-unstyled
          %li
            = date_icon
            = l(report.event.datetime, format: :date_only)

          %li
            = event_final_score_label(report.event)

      %small
        - if report.content?
          Bericht von

          %strong
            - if report.reporter_id?
              = Player.find(report.reporter_id).nickname

            - else
              ?

        - else
          %span.text-muted
            Kein Bericht
