- if admin?
  .well.well-sm
    = link_to edit_report_path(report), class: 'btn btn-default btn-sm' do
      %span.text-warning
        = edit_icon
        Bearbeiten

.thirds
  .third
    %dl.dl-horizontal
      - if report.incident.present?
        %dt= t(:incident, scope: %w(activerecord attributes report))
        %dd= t(report.incident, scope: %w(activerecord enums report incident))

      %dt Endstand
      %dd
        %strong= report.final_score
        = surround '(', ')' do
          = t(report.result, scope: %w(activerecord enums report result))

      %dt Halbzeitstand
      %dd= report.half_time_score

      %dt Ecken
      %dd= corners(report)

      %dt= t(:possession, scope: %w(activerecord attributes report))
      %dd= report.possession? ? report.possesion + '%' : ''

    %dl.dl-horizontal
      %dt= t(:turf, scope: %w(activerecord attributes report))
      %dd
        - if report.turf?
          = t(report.turf, scope: %w(activerecord enums report turf))

      %dt= t(:weather, scope: %w(activerecord attributes report))
      %dd
        - if report.weather?
          = t(report.weather, scope: %w(activerecord enums report weather))

      %dt= t(:referee, scope: %w(activerecord attributes report))
      %dd= report.referee? ? 'Ja' : 'Nein'

      - if report.referee?
        %dt= t(:referee_name, scope: %w(activerecord attributes report))
        %dd= report.referee_name

        %dt= t(:referee_description, scope: %w(activerecord attributes report))
        %dd= report.referee_description

    %dl.dl-horizontal
      %dt= t(:goalkeeper_id, scope: %w(activerecord attributes report))
      %dd= report.goalkeeper_id

      %dt= t(:captain_id, scope: %w(activerecord attributes report))
      %dd= report.captain_id

      %dt= t(:most_valuable_player_id, scope: %w(activerecord attributes report))
      %dd= report.most_valuable_player_id

      %dt= t(:annotation, scope: %w(activerecord attributes report))
      %dd= report.annotation

  .two-thirds
    %dl.dl-horizontal
      %dt= t(:reporter_id, scope: %w(activerecord attributes report))
      %dd= report.reporter_id.presence || 'Noch kein Bericht vorhanden'

    = report.content
