%p.card-text
  %table.table.table-sm
    - if report.incident.present?
      %tr
        %th.text-right{scope: 'row'}
          = Report.human_attribute_name(:incident)

        %td
          = t(report.incident, scope: %w(activerecord enums report incident))

    - if report.club_final_score? || report.rival_final_score?
      %tr
        %th.text-right{scope: 'row'}
          = Report.human_attribute_name(:final_score)

        %td
          = report.final_score
          - if report.result.present?
            = surround '(', ')' do
              = t(report.result, scope: %w(activerecord enums report result))

    - if report.club_half_time_score? || report.rival_half_time_score?
      %tr
        %th.text-right{scope: 'row'}
          = Report.human_attribute_name(:half_time_score)

        %td
          = report.half_time_score

    - if report.corners_club? || report.corners_rival?
      %tr
        %th.text-right{scope: 'row'}
          = Report.human_attribute_name(:corners)

        %td
          = corners(report)

    - if report.possession?
      %tr
        %th.text-right{scope: 'row'}
          = Report.human_attribute_name(:possession)

        %td
          = report.possession
          \%

    - if report.turf?
      %tr
        %th.text-right{scope: 'row'}
          = Report.human_attribute_name(:turf)

        %td
          = t(report.turf, scope: %w(activerecord enums report turf))

    - if report.weather?
      %tr
        %th.text-right{scope: 'row'}
          = Report.human_attribute_name(:weather)

        %td
          = t(report.weather, scope: %w(activerecord enums report weather))

    %tr
      %th.text-right{scope: 'row'}
        = Report.human_attribute_name(:referee)

      %td
        = report.referee? ? 'Ja' : 'Nein'

    - if report.referee_name?
      %tr
        %th.text-right{scope: 'row'}
          = Report.human_attribute_name(:referee_name)

        %td
          = report.referee_name

    - if report.referee_description?
      %tr
        %th.text-right{scope: 'row'}
          = Report.human_attribute_name(:referee_description)

        %td
          = report.referee_description

    - if report.goalkeeper_id?
      %tr
        %th.text-right{scope: 'row'}
          = Report.human_attribute_name(:goalkeeper_id)

        %td
          = Player.find(report.goalkeeper_id).nickname

    - if report.captain_id?
      %tr
        %th.text-right{scope: 'row'}
          = Report.human_attribute_name(:captain_id)

        %td
          = Player.find(report.captain_id).nickname

    - if report.most_valuable_player_id?
      %tr
        %th.text-right{scope: 'row'}
          = Report.human_attribute_name(:most_valuable_player_id)

        %td
          = Player.find(report.most_valuable_player_id).nickname

    - if report.annotation?
      %tr
        %th.text-right{scope: 'row'}
          = Report.human_attribute_name(:annotation)

        %td
          = report.annotation
