= content_for :title, 'Spielberichte'

.page-header
  %h1
    = content_for :title

    - if admin?
      .pull-right
        = link_to new_report_path, class: 'primary-button' do
          = create_icon
          %span.hidden-xs Bericht erstellen

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th.text-right Datum
        %th Event
        %th.text-center Endstand
        %th.text-center Halbzeitstand
        %th.text-center Bericht?

    %tbody
      - for report in @reports
        %tr.clickableTableRow{'data-url' => report_path(report)}
          %td.text-right.text-muted
            = l(report.event.datetime, format: :date_only)
          %td
            = report.event.name
          %td.text-center
            .label{class: "label-#{contextual_class_for_report(report)}"}
              = report.final_score
          %td.text-center.text-muted
            = report.half_time_score
          %td.text-center
            - if report.content.present?
              %span.text-success
                = report_icon
                Ja
            - else
              %span.text-danger
                = report_icon
                Nein

= render 'layouts/pagination', entries: @reports
