= content_for :title, 'Spielberichte'

.card
  .card-header
    %h1
      = content_for :title

    = render 'subnavigation'

  .card-body.text-center
    %small.text-muted
      = page_entries_info @reports

  = render 'list', reports: @reports

  .card-body
    = paginate @reports
