= content_for :title, 'Fehlende Spielberichte'

= render 'subnavigation'

.page-header
  %h1= content_for :title

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th.text-right Datum
        %th Event
        %th.text-right.text-muted Aktionen

    %tbody
      - @events_without_report.each do |event|
        %tr
          %td.text-right.text-muted= l(event.datetime, format: :date_only)
          %td= event.name
          %td.text-right
            = link_to new_report_path(event_id: event.id),
              class: 'btn btn-primary btn-xs' do
              = create_icon
              Erstellen

= render 'layouts/pagination', entries: @events_without_report
