= content_for :title, "#{@event.name} #{t('create_model_name', model_name: Report.model_name.human)}"

.card
  .card-header
    = render 'events/header_with_subnavigation',
      event: @event,
      subtitle: t('create_model_name', model_name: Report.model_name.human)

  .card-body
    = render 'form', event: @event, report: @report
