= content_for(:title, "#{@event.name} #{Report.model_name.human}")

.card
  .card-header
    = render 'events/header_with_subnavigation',
      event: @event,
      subtitle: Report.model_name.human

  .card-body
    - if can?(:update, Report)
      = link_to edit_event_report_path(@event),
        class: 'card-link btn btn-secondary mb-4' do
        = edit_icon
        = t('edit')

    .row
      .col-lg-4
        = render 'statistics', report: @report

      .col-lg-8
        = render 'content',
          report: @report,
          attending_players: @attending_players,
          watching_players: @watching_players

    %h3.card-title
      Stimmen zum Spiel
      .badge.badge-pill.badge-dark
        = @report.comments.count

  = render 'comments/comments', comments: @comments

  - if can?(:create, Comment)
    .card-footer
      = render 'comments/form', comment: @comments.new
