.modal.fade#chatModal{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'chatLabel'}
  .modal-dialog.modal-lg{role: 'document'}
    .modal-content
      .modal-header
        %h5.modal-title#chatLabel
          Chat

          %small
            = link_to messages_path,
              remote: true,
              class: 'chatRefresh',
              'data-disable-with' => "#{refreshing_icon}" do
              = refresh_icon

        = button_tag class: 'close',
          'data-dismiss' => 'modal',
          'aria-label' => 'Close' do
          %span{'aria-hidden': true}
            &times;

      .modal-body
        = form_for Message.new, remote: true do |f|
          = f.hidden_field :user_id, value: current_user.id

          .input-group
            = f.text_field :content,
              class: 'form-control',
              placeholder: Message.human_attribute_name(:content)

            .input-group-append
              = button_tag type: 'submit',
                class: 'primary-button',
                'data-disable-with' => "#{spinner_icon} Senden" do
                = chat_message_icon
                Senden

      .modal-body.px-0.chatMessagesContainer
        %ul.list-group.list-group-flush.chatMessages
