.modal.fade#chatModal{tabindex: '-1',
  role: 'dialog',
  'aria-labelledby' => 'chatLabel'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %h4.modal-title#chatLabel
          Chat

          %small
            = link_to messages_path,
              remote: true,
              class: 'chatRefresh',
              'data-disable-with' => "#{refreshing_icon}" do
              = refresh_icon

          .btn-group.pull-right
            = link_to chat_path, class: 'default-button-xs' do
              %span.text-info
                = full_screen_icon
                Vollbild

            = button_tag class: 'default-button-xs',
              'data-dismiss' => 'modal',
              'aria-label' => 'Close' do
              = close_icon
              %span.hidden-xs Schließen

      .modal-body.chatMessagesContainer
        %ul.list-group.chatMessages

      .modal-footer
        = form_for Message.new, remote: true do |f|
          = f.hidden_field :user_id, value: current_user.id

          .input-group
            = f.text_field :content,
              class: 'form-control',
              placeholder: Message.human_attribute_name(:content)

            %span.input-group-btn
              = button_tag type: 'submit',
                class: 'primary-button',
                'data-disable-with' => "#{spinner_icon} Senden" do
                = chat_message_icon
                Senden
