%footer.footer
  .container
    %p
      = link_to 'https://www.facebook.com/pages/CFB-Hasenheide/108068245890235?fref=ts',
        target: '_blank',
        'data-toggle' => 'tooltip',
        title: 'CFB @ Facebook' do
        = facebook_link_icon

      = link_to 'https://twitter.com/cfbhasenheide',
        target: '_blank',
        'data-toggle' => 'tooltip',
        title: 'CFB @ Twitter' do
        = twitter_link_icon

      = link_to 'https://www.youtube.com/user/cfb',
        target: '_blank',
        'data-toggle' => 'tooltip',
        title: 'CFB @ Youtube' do
        = youtube_link_icon

      = link_to '/fussball_de',
        'data-toggle' => 'tooltip',
        title: 'CFB @ Fussball.de' do
        = fussballde_link_icon

      - if user_signed_in?
        = mail_to 'internetbeauftragter@cfb-hasenheide.de',
          class: 'right',
          'data-toggle' => 'tooltip',
          title: 'Probleme, Fragen, Anmerkungen an den Internetbeauftragten',
          subject: 'Probleme, Fragen, Anmerkungen zur neuen Page' do
          = mail_to_link_icon
