%footer.footer
  .container
    %p.text-muted
      CFB Hasenheide
      \|
      = link_to 'https://twitter.com/cfbhasenheide' do
        = twitter_icon
        CFB bei Twitter
      \|
      = link_to 'https://www.facebook.com/pages/CFB-Hasenheide/108068245890235?fref=ts' do
        = facebook_icon
        CFB bei Facebook
      \|
      = link_to 'https://www.youtube.com/user/cfb' do
        = youtube_icon
        CFB bei Youtube
      \|
      = link_to 'http://www.fussball.de/verein/cfb-hasenheide-berlin/-/id/00UQ28BQH0000000VV0AG811VTK9TF5P#!/section/stage' do
        = football_icon
        CFB bei FUSSBALL.DE
