%nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse.bg-inverse
  = button_tag '',
    type: 'button',
    class: 'navbar-toggler navbar-toggler-right',
    data: { toggle: 'collapse', target: '#navbarResponsive' },
    aria: { controls: 'navbarResponsive', expanded: 'false', label: 'Toggle navigation' } do
    %span.navbar-toggler-icon

  = link_to root_path, class: 'navbar-brand' do
    = image_tag 'logo_navbar.png',
      height: 30,
      class: 'd-inline-block align-top',
      alt: 'CFB Hasenheide Logo'

    CFB Hasenheide

  .collapse.navbar-collapse#navbarResponsive
    %ul.navbar-nav.mr-auto
      %li.nav-item{class: ('active' if params[:controller] == 'news')}
        = link_to 'News', news_index_path, class: 'nav-link'

      - if user_signed_in?
        %li.nav-item{class: ('active' if params[:controller] == 'events')}
          = link_to 'Events', events_path, class: 'nav-link'

        %li.nav-item{class: ('active' if params[:controller] == 'reports')}
          = link_to 'Spielberichte', reports_path, class: 'nav-link'

        %li.nav-item{class: ('active' if params[:controller] == 'players')}
          = link_to 'Spieler', players_path, class: 'nav-link'

        %li.nav-item{class: ('active' if params[:controller] == 'trainings')}
          = link_to 'Training', trainings_path, class: 'nav-link'

      %li.nav-item{class: ('active' if params[:controller] == 'pages' && params[:action] == 'contact')}
        = link_to 'Kontakt', '/contact', class: 'nav-link'

    %ul.navbar-nav
      - if user_signed_in?
        %li.nav-item
          = link_to '#chatModal', 'data-toggle' => 'modal', class: 'nav-link' do
            = chat_icon
            Chat

        %li.nav-item.dropdown
          = link_to '#',
            class: 'nav-link dropdown-toggle',
            id: 'navbarDropdownMenuLink',
            data: { toggle: 'dropdown' },
            aria: { haspopup: 'true', expanded: 'false' } do

            = image_tag current_user.player.avatar_url(:small_thumb),
              width: '20',
              height: '20',
              alt: current_user.player.nickname,
              class: 'img-circle'

            = current_user.player.nickname

          .dropdown-menu.dropdown-menu-right{ aria: { labelledby: 'responsiveNavbarDropdown' } }
            - if current_user.admin?
              = link_to 'Admin Dashboard',
                administration_path,
                class: 'dropdown-item'

              = link_to 'Teams verwalten',
                teams_path,
                class: 'dropdown-item'

              = link_to 'User verwalten',
                users_path,
                class: 'dropdown-item'

              = link_to 'Account bearbeiten',
                edit_user_registration_path,
                class: 'dropdown-item'

              = link_to 'Spieler bearbeiten',
                edit_player_path(current_user.player),
                class: 'dropdown-item'

              = link_to destroy_user_session_path,
                method: :delete,
                class: 'dropdown-item' do
                = logout_icon
                Logout

      - else
        = link_to new_user_session_path, class: 'nav-link' do
          = login_icon
          Login

= render 'layouts/chat' if user_signed_in?
