%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    = link_to root_path, class: 'navbar-brand' do
      = image_tag 'logo_navbar.png',
        height: '30',
        class: 'd-inline-block align-top',
        alt: 'CFB Hasenheide Logo'

      CFB Hasenheide

    = button_tag class: 'navbar-toggler',
      type: 'button',
      'data-toggle': 'collapse',
      'data-target': '#navigation',
      'aria-controls': 'navigation',
      'aria-expanded': 'false',
      'aria-label': 'Toggle navigation' do
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navigation
      %ul.navbar-nav.mr-auto
        %li.nav-item{class: ('active' if params[:controller] == 'news')}
          = link_to news_index_path,
            class: 'nav-link' do
            = News.model_name.human(count: 2)
            - if params[:controller] == 'news'
              %span.sr-only(current)

        - if user_signed_in?
          %li.nav-item{class: ('active' if params[:controller] == 'events')}
            = link_to events_path,
              class: 'nav-link' do
              = Event.model_name.human(count: 2)
              - if params[:controller] == 'events'
                %span.sr-only(current)

          %li.nav-item{class: ('active' if params[:controller] == 'reports')}
            = link_to reports_path,
              class: 'nav-link' do
              = Report.model_name.human(count: 2)
              - if params[:controller] == 'reports'
                %span.sr-only(current)

          %li.nav-item{class: ('active' if params[:controller] == 'players')}
            = link_to players_path,
              class: 'nav-link' do
              = Player.model_name.human(count: 2)
              - if params[:controller] == 'players'
                %span.sr-only(current)

          %li.nav-item{class: ('active' if params[:controller] == 'trainings')}
            = link_to trainings_path,
              class: 'nav-link' do
              = Training.model_name.human
              - if params[:controller] == 'trainings'
                %span.sr-only(current)

        %li.nav-item{class: ('active' if params[:controller] == 'pages' && params[:action] == 'contact')}
          = link_to '/contact',
            class: 'nav-link' do
            Kontakt
            - if params[:controller] == 'pages' && params[:action] == 'contact'
              %span.sr-only(current)

        - if user_signed_in?
          %li.nav-item
            = link_to '#chatModal',
              'data-toggle': 'modal',
              class: 'nav-link' do
              = chat_icon
              Chat

          %li.nav-item.dropdown
            = link_to '#',
              id: 'navbarUserDropdown',
              role: 'button',
              'data-toggle': 'dropdown',
              'aria-haspopup': true,
              'aria-expanded': false,
              class: 'nav-link dropdown-toggle' do
              = image_tag current_user.player.avatar_url(:small_thumb),
                height: '24',
                alt: current_user.player.nickname,
                class: 'd-inline-block align-top rounded-circle'
              = current_user.player.nickname

            .dropdown-menu.dropdown-menu-right{'aria-labealledby': 'navbarUserDropdown'}
              - if current_user.admin?
                %h6.dropdown-header
                  Admin Einstellungen

                = link_to administration_path,
                  class: 'dropdown-item' do
                  Admin Dashboard

                = link_to teams_path,
                  class: 'dropdown-item' do
                  Teams verwalten

                = link_to users_path,
                  class: 'dropdown-item' do
                  User verwalten

                .dropdown-divider

              %h6.dropdown-header
                User Einstellungen

              = link_to edit_user_registration_path,
                class: 'dropdown-item' do
                Account bearbeiten

              = link_to edit_player_path(current_user.player),
                class: 'dropdown-item' do
                Spieler bearbeiten

              .dropdown-divider

              = link_to destroy_user_session_path,
                method: :delete,
                class: 'dropdown-item' do
                = logout_icon
                Logout

        - else
          %li.nav-item.dropdown
            = link_to '#',
              id: 'navbarLoginDropdown',
              role: 'button',
              'data-toggle': 'dropdown',
              'aria-haspopup': true,
              'aria-expanded': false,
              class: 'nav-link dropdown-toggle' do
              = login_icon
              Login

            .dropdown-menu.dropdown-menu-right{'aria-labealledby': 'navbarLoginDropdown'}
              = render 'devise/sessions/form'

  = render 'layouts/chat' if user_signed_in?
