= render 'layouts/chat'

%nav.navbar.navbar-fixed-top.navbar-default{role: 'navigation'}
  .container
    .navbar-header
      = render 'layouts/chat_toggle', navbar_toggle: true

      %button.navbar-toggle.collapsed{'data-target' => '#navigation',
        'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only Navigation aus-/einklappen
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.pull-left{href: root_path}
        = image_tag 'logo_navbar.png', alt: 'CFB Hasenheide Logo',
          class: 'logoNavbar'
      %a.navbar-brand{href: root_path}
        CFB Hasenheide

    #navigation.collapse.navbar-collapse
      = render 'layouts/chat_toggle', navbar_toggle: false

      %ul.nav.navbar-nav
        %li{class: ('active' if params[:controller] == 'news')}
          %a{href: news_index_path} News

        - if user_signed_in?
          %li{class: ('active' if params[:controller] == 'events')}
            %a{href: events_path} Events

          %li{class: ('active' if params[:controller] == 'reports')}
            %a{href: reports_path} Spielberichte

          %li{class: ('active' if params[:controller] == 'forum_threads')}
            %a{href: forum_threads_path} Forum

        %li{class: ('active' if params[:controller] == 'pages' && params[:action] == 'contact')}
          %a{href: '/contact'} Kontakt

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown',
              role: 'button', 'aria-expanded' => 'false' }
              = current_user.admin? ? admin_icon : user_icon
              #{current_user.user_profile.alias}
              %span.caret
            %ul.dropdown-menu{role: 'menu'}
              - if current_user.admin?
                %li.dropdown-header Admin Einstellungen
                %li
                  %a{href: users_path} User verwalten
                %li
                  %a{href: teams_path} Teams verwalten
                %li.divider
              %li.dropdown-header User Einstellungen
              %li= link_to 'Account bearbeiten', edit_user_registration_path
              %li= link_to 'Profil bearbeiten', edit_user_profile_path(current_user.user_profile)
              %li.divider
              %li
                = link_to destroy_user_session_path, method: :delete do
                  = logout_icon
                  Logout

        - else
          %li
            = link_to new_user_session_path do
              = login_icon
              Login
