%nav.navbar.navbar-fixed-top.navbar-default{role: 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{'data-target' => '#navigation',
        'data-toggle' => 'collapse', type: 'button'}
        %span.sr-only Navigation aus-/einklappen
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to root_path, class: 'pull-left' do
        = image_tag 'logo_navbar.png',
          alt: 'CFB Hasenheide Logo',
          class: 'logoNavbar'

      = link_to 'CFB Hasenheide', root_path, class: 'navbar-brand'

    #navigation.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{class: ('active' if params[:controller] == 'news')}
          = link_to 'News', news_index_path

        - if user_signed_in?
          %li{class: ('active' if params[:controller] == 'events')}
            = link_to 'Events', events_path

          %li{class: ('active' if params[:controller] == 'reports')}
            = link_to 'Spielberichte', reports_path

          %li{class: ('active' if params[:controller] == 'players')}
            = link_to 'Spieler', players_path
        - if admin?
          %li{class: ('active' if params[:controller] == 'administrations')}
            = link_to 'Administration', administration_path


        %li{class: ('active' if params[:controller] == 'pages' && params[:action] == 'contact')}
          = link_to 'Kontakt', '/contact'

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li
            = link_to '#chatModal',
              'data-toggle' => 'offcanvas' do
              = chat_icon
              Chat

          %li.dropdown
            %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown',
              role: 'button', 'aria-expanded' => 'false' }
              = image_tag current_user.player.avatar_url(:small_thumb),
                width: '30',
                height: '30',
                alt: current_user.player.nickname,
                class: 'img-circle'
              = current_user.player.nickname
              %span.caret
            %ul.dropdown-menu{role: 'menu'}
              - if current_user.admin?
                %li.dropdown-header
                  Admin Einstellungen
                %li
                  = link_to 'User verwalten', users_path
                %li
                  = link_to 'Teams verwalten', teams_path
                %li.divider

              %li.dropdown-header
                User Einstellungen
              %li
                = link_to 'Account bearbeiten', edit_user_registration_path
              %li
                = link_to 'Spieler bearbeiten',
                  edit_player_path(current_user.player)
              %li.divider
              %li
                = link_to destroy_user_session_path, method: :delete do
                  = logout_icon
                  Logout

        - else
          %li
            = link_to new_user_session_path do
              = login_icon
              Login
