!!!
%html{lang: 'de'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

    %title CFB Hasenheide

    = csrf_meta_tags
    = favicon_link_tag '/favicon.ico?1'

    = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'
    = stylesheet_link_tag 'application', media: 'all'

  %body
    = render 'layouts/navigation'
    .container
      .main-area
        .sidebar
          left sidebar
        .main-content
          = render 'layouts/flash_messages'
          = yield
        .sidebar
          right sidebar

    = javascript_include_tag 'application'
    = javascript_include_tag 'http://ergebnisdienst.fussball.de/static/egm//js/egmWidget.js?schluessel=01KOOMFOFC000000VS5DVMPIVTDHL375'

    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      = javascript_include_tag 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'
      = javascript_include_tag 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'
