!!!
%html{lang: 'de'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}

    %title CFB Hasenheide

    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    = favicon_link_tag 'cfb_touch_icon.png', rel: 'apple-touch-icon',
      type: 'image/png'

    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'
    = stylesheet_link_tag 'application', media: 'all'

  %body
    = render 'layouts/navigation'
    .container
      = render 'layouts/flash_messages'
      = yield

    = render 'layouts/footer'

    = javascript_include_tag 'application'
    = javascript_include_tag 'http://ergebnisdienst.fussball.de/static/egm//js/egmWidget.js?schluessel=01KOOMFOFC000000VS5DVMPIVTDHL375'

    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      = javascript_include_tag 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'
      = javascript_include_tag 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'
