.panel.panel-default
  .panel-heading
    %h2.panel-title
      = Member.model_name.human

  .panel-body
    %dl.dl-horizontal
      %dt= Member.human_attribute_name(:firstname)
      %dd= member.firstname

      %dt= Member.human_attribute_name(:lastname)
      %dd= member.lastname

      %dt= Member.human_attribute_name(:date_of_birth)
      %dd= l(member.date_of_birth) if member && member.date_of_birth?

      %dt= Member.human_attribute_name(:place_of_birth)
      %dd= member.place_of_birth

      %dt= Member.human_attribute_name(:identifier)
      %dd= member.identifier

      %dt= Member.human_attribute_name(:member_since)
      %dd= l(member.member_since) if member && member.member_since?

      %dt= Member.human_attribute_name(:member_until)
      %dd= l(member.member_until) if member && member.member_until?
