= content_for :title, 'Mitgliedsdaten bearbeiten'

.page-header
  %h1= content_for :title

= bootstrap_form_for @member,
  layout: :horizontal,
  label_col: 'col-md-2',
  control_col: 'col-md-4' do |f|
  = f.hidden_field :user_id

  = f.text_field :firstname
  = f.text_field :lastname

  = f.date_select :date_of_birth,
    start_year: Date.today.year - 65,
    end_year: Date.today.year - 18,
    prompt: true
  = f.text_field :place_of_birth

  = f.text_field :identifier

  = f.date_select :member_since,
    start_year: Date.today.year - 10,
    end_year: Date.today.year,
    prompt: true

  = f.date_select :member_until,
    start_year: Date.today.year - 3,
    end_year: Date.today.year + 10,
    prompt: true

  = f.text_field :player_ideal
  = f.text_field :personal_moment

  = f.form_group do
    = f.primary
    = link_to t('links.cancel'),
      player_path(@member.player), class: 'default-button'

