= content_for :title, 'Mitgliedsdaten bearbeiten'

.page-header
  %h1= content_for :title

= bootstrap_form_for @member,
  layout: :horizontal,
  label_col: 'col-md-2',
  control_col: 'col-md-4' do |f|
  = f.hidden_field :user_id
  = f.text_field :identifier

  = f.date_select :member_since,
    start_year: Date.today.year - 100,
    end_year: Date.today.year,
    prompt: true

  = f.date_select :member_until,
    start_year: Date.today.year - 100,
    end_year: Date.today.year,
    prompt: true

  = f.form_group do
    = f.primary
    = link_to t('links.cancel'),
      player_path(@member.player), class: 'default-button'

